[2016-04-20 18:35] dustingraham opened #2 "Exception Handling?"
Could you address exception handling in the readme?

[2016-04-22 13:59] boosis opened #4 "Why is illuminate/support a dependency?"
I haven't used this yet, but could you tell me why illuminate/support is a dependency? I didn't see where you used this library.

[2016-04-22 16:03] rossbearman commented on #4
The only usage I can find in the code is the `Mailer` contract `Illuminate\Contracts\Mail\Mailer` in `Event.php`.

`illuminate/support` shouldn't be a dependency of a framework-agnostic package as it is a huge package itself, with a number of dependencies.  It's intended to provide support packages for the Laravel framework itself and not really intended for use elsewhere, unless you're building a

[2016-04-22 16:06] boosis commented on #4
Yes, I saw that. Even there it's only namespace, Mailer class is not used anywhere in that class

[2016-04-23 21:06] lavary commented on #4
@rossbearman illuminate/support was used for a couple of helper functions like `array_get()`, `array_only`, `collect`, and a few others. However, this dependency has been removed in the latest release of Crunz, which is 1.1.1.

The reference to Illuminate\Contracts\Mail\Mailer has been removed as well.

[2016-04-23 21:39] boosis opened #6 "Class not found error"
When I run this on my ubuntu box I get the following error

`PHP Fatal error:  Class 'Crunz\console\Commands\ScheduleRunCommand' not found in /var/www/xxxx/vendor/lavary/crunz/src/Console/CommandKernel.php on line 31
PHP Stack trace:
PHP   1. {main}() /var/www/xxxx/vendor/lavary/crunz/crunz:0
PHP   2. Crunz\Console\CommandKernel->__construct() /var/www/xxxx/vendor/lavary/crunz/crunz:37`

Can it be

[2016-04-23 21:48] lavary commented on #6
Would you please update the library to version v1.1.2 (latest version).
This should be the cause of the issue in your environment. please let me if the issue is resolved.

Thanks.

[2016-04-23 21:51] boosis commented on #6
That fixed it. Thanks.

[2016-04-23 21:51] #6 closed

[2016-04-23 22:57] rossbearman commented on #4
Good job, thanks for resolving this.

[2016-04-23 23:00] boosis opened #7 "No task is due"
I have the following task
`
$schedule->run('/var/www/xxxx/bin/console.php cron:import-listings')
->cron('59 * * * *')
    ->appendOutputTo('/var/log/xxxx.log')
    ->preventOverlapping();
`
I keep changing the minute to see if it works but I only see No task is due when  time matches the cron value. Am I missing something?

[2016-04-24 10:03] #4 closed

[2016-04-24 15:28] lavary commented on #7
Is your system timezone different than the time zone configured in your `php.ini` file?
Also please run `crunz schedule:list` command to see if the task is scheduled as expected.

[2016-04-24 15:32] lavary commented on #7
You can set a certain time zone for each event individually:

[code]

[2016-04-24 16:27] boosis commented on #7
Why does the timezone matter? Isn't it 59 minutes past every hour, so it shouldn't matter which timezone the server or php is, or am I missing something?

[2016-04-24 17:29] lavary commented on #7
Normally you don't have to set a time zone for a task unless you can't modify the timezone in the `php.ini` file (Crunz uses Carbon for date-related operations) or if you want to schedule events based on different time zones. You're looking at your local time waiting for the event to take place while the current time in your PHP server might be different.

[2016-04-25 18:56] lavary commented on #7
@boosis Did this work for you?

[2016-04-26 08:58] anmoroz opened #9 "Problems with Freebsd"
Hi.
On a server running FreeBSD I got an error "Ambiguous output redirect."
Because structure "**2>&1**" is not working with shell **csh**
I propose to to make check OS in Event class, method buildCommand and fix command.

[code]

[2016-04-26 09:46] clops opened #10 "Enumeration of tasks"
Whenever I run `crunz schedule:list` the list that is generated marks all entries with the # 1, example below:

I would expect the "number" column to be incremented by one for each row.

[2016-04-26 10:09] lavary commented on #10
Please update the package and check again.
Thanks for reporting this.

[2016-04-26 10:23] clops commented on #10
Thanks, looks good :)

On Tue, Apr 26, 2016 at 12:09 PM, M. Reza Lavaryan <notifications@github.com

[2016-04-26 10:35] #10 closed

[2016-04-26 11:27] clops opened #11 "Debugging"
In the current setup debugging is hard as there is no way to test discrete cronjobs for if they perform well without sending them to the crontab.

Would be nice to have the following additional options for the command `schedule:run`
- Task --> to indicate which task number from schedule:list is to be run now
- Force --> force run the task immediately and don't match a specific timespot

would make

[2016-04-26 12:03] clops opened #12 "appendOutputTo"
I nice to have would be to include the current timestamp when adding Log Output to a file.

[2016-04-27 22:17] Ulbrec87 commented on #12
Something like " (date && yourcommand) >> /yourlogfile/) " ?

[2016-04-28 15:47] clops commented on #12
Exactly

[2016-04-28 16:03] clops commented on #12
update: when I do scheduler:run from the console, the output is just fine to be added to the log file

[code]

[2016-04-28 21:19] Ulbrec87 commented on #12
You can use before method. Example:

[code]

If all of you agree, I will add a method in Event class to log timestamp in output file... or someone have another solution ?

[2016-04-29 11:16] lavary commented on #7
Closing the issue. Please feel free to reopen if you encounter any similar issues.

[2016-04-29 11:16] #7 closed

[2016-05-09 15:09] clops commented on #12
I am fine in using a dedicated before method for _one_ task, but what if I have a dozen? Duplicating code feels wrong here, would be awesome if the tool could do this "out of the box" :)

[2016-05-15 23:07] Ulbrec87 commented on #12
Why duplicating code? The method is in Event class, is centralized. Something like
`$schedule->run('ls')->everyMinute()
  ->description('List')
  ->appendOutputTo($output)->withTimestamp()`

or we can insert timestamp in implicite way when you call appendOutputTo($output).... I don't have any other ideas, what do you suggest? :)

[2016-05-17 08:37] clops commented on #12
In case ->appendOutputTo($output)->withTimestamp() works already, then I am
more than fine using it :)

On Mon, May 16, 2016 at 1:07 AM, Ulbrec87 <notifications@github.com> wrote:

[2016-05-17 15:36] clops opened #15 "Compatibility Problems"
It turns out that the crunz package is not compatible with https://github.com/theiconic/php-ga-measurement-protocol due to a limitation in the dependant libraries.

[2016-06-07 11:17] timurbakarov opened #16 "posix_getsid error"
Exit with exception 'ErrorException' with message 'posix_getsid() expects parameter 1 to be long, string given' in vendor/lavary/crunz/src/Event.php:250

[2016-06-07 17:07] #16 closed

[2016-08-11 09:58] 1988luis opened #18 "Undefined variable: input TaskGeneratorCommand.php on line 118"
cmd: vendor/bin/crunz make:task demo1 --run demo1.php --in /var/www/html/crunz/tests
exception:
PHP Notice:  Undefined variable: input in /var/www/html/crunz/src/Console/Command/TaskGeneratorCommand.php on line 118
PHP Notice:  Undefined variable: output in /var/www/html/crunz/src/Console/Command/TaskGeneratorCommand.php on line 118
PHP Catchable fatal error:  Argument 1 passed to Symfony\Componen

[2016-08-11 10:19] lavary commented on #18
This has been caused by the last merge.
Please update your instance.
Thanks for reporting 👍

[2016-08-11 10:34] 1988luis commented on #18
cmd: ./crunz schedule:list
exception:
PHP Fatal error:  Cannot access protected property Crunz\Event::$command in /var/www/html/crunz/src/Console/Command/ScheduleListCommand.php on line 71

[2016-08-11 10:38] lavary commented on #18
Same issue. Please update the package :)

[2016-08-11 10:50] josealgardataborges commented on #18
root@hotspot1:~# crunz schedule:list

[BadMethodCallException]

schedule:list [<source>]

[2016-08-11 10:51] josealgardataborges commented on #18
root@hotspot1:~# crunz schedule:run

[BadMethodCallException]

schedule:run [<source>]

[2016-08-11 10:53] lavary commented on #18
@josealgardataborges would you please provide your task file?

[2016-08-11 10:55] josealgardataborges commented on #18
Nevermind, it was a "typing error":

use Crunz\Schedule;

$scheduler = new Schedule();

$scheduler->run('/usr/bin/php')
          ->description('Task description')
          ->EveryMinute();

return $scheduler;

EveryMinute() should have been everyMinute()

[2016-08-11 10:58] lavary commented on #18
@josealgardataborges 👍

[2016-08-23 12:12] acelaya opened #19 "Why is the dependency on monolog so restrictive?"
You depend on the exact version 1.19.0 of monolog/monolog, instead of something like ^1.19
Is there any reason for that? It makes it impossible to get a newer version of the package while dependening on lavary/crunz.

[2016-08-23 12:19] lavary commented on #19
You are right, actually, this was due to a dependency version conflict.

I'll update the `composer.json`.

[2016-08-23 13:10] acelaya opened #20 "Doesn't seem to detect the directory root"
I've started to play with this project, and the first stopper that I find is that it doesn't seem to properly detect the project root.

When I run any CLI command, it thinks the project root is inside vendor/lavary. That makes, for example the command make:task to create the file in vendor/lavary/tasks/fooTask.php, instead of tasks/fooTask.php
The same happens with the crunz.yaml config file. If I

[2016-08-23 13:14] acelaya opened #21 "Missing dependency on illuminate/console"
The method `Crunz\Schedule::run` creates and returns an `Illuminate\Console\Scheduling\Event` object, but the illuminate/console package is not required.
Is that correct?

[2016-08-23 14:00] lavary commented on #21
Correct!  It used to be dependent on `Illuminate\Console\Scheduling\Event` but not anymore.

I updated the dock block parameter.

Thanks.

[2016-08-23 14:27] lavary commented on #20
This was due to one of the latest commits. I've fixed the issue for now.

Thanks a lot for reporting this.

[2016-08-23 14:29] acelaya commented on #20
You are welcome

--
Alejandro Celaya Alastrué

El 23 ago. 2016 4:27 p. m., "M. Reza Lavaryan" <notifications@github.com>
escribió:

[2016-08-23 14:29] lavary commented on #20
I'll let you know when I create the release.

[2016-08-23 14:36] lavary commented on #20
You may update the package: `v1.4.6`

[2016-08-25 16:55] chrismichaels84 opened #22 "Similar package. Collaborate?"
Aloha! I created a similar package for my company (which we use in production hundreds of times a day), and recently posted it to github. I had intended to expand and clean it up.

We seem to be trying to solve a lot of the same problems, and each have features the other package doesn't. Would it be worth looking through my library and collaborating? I'd be happy to merge my work over to your libr

[2016-09-10 15:34] lavary commented on #22
Hey Michael. I apologize for the extremely late reply.
I think that's a very good idea. Crunz is very young and there's a lot of room for improvement. It's a good idea to centralize future contributions on one sole library. I'll take a look at your code to see how we can collaborate. Would you please do the same?

Cheers.

[2016-09-10 15:42] chrismichaels84 commented on #22
Absolutely. I'll try to get to it this week. Works a little crazy with an
upcoming deployment

On Sep 10, 2016 10:34 AM, "M. Reza Lavaryan" <notifications@github.com>
wrote:

[2016-09-16 09:13] ultralamer opened #26 "preventOverlapping is not work"
preventOverlapping  is not work since commit cabc7a0363096ff1987173dc5968a23e9a66c8ae (Create an event runner with closure call support )

Event::lock() newer called and have incorrect code: undefined variable $event

[2016-09-24 15:55] MarceauKa opened #28 "Integration with existing Symfony Console"
Hi!

I have an existing application using symfony/console.

Will crunz works if I add all commands defined in `Console/CommandKernel` in my own console declaration? I think it'll works but I prefer to ask before digging the doc :)

[2016-10-05 13:42] InformerSoftware opened #29 "Force php version"
I get a error when the cron is running:
- \* \* \* \* /vendor/bin/crunz schedule:run

PHP Parse error: syntax error, unexpected 'list' (T_LIST) in:
vendor/symfony/config/Definition/ArrayNode.php

It looks like PHP >= 5.5.0 is required.

I have a Debian server running Plesk. When i create a new cron i can select "Run a command" Or  "Run a PHP script". For a PHP script i can select a PHP version (de

[2016-10-11 10:46] lavary commented on #22
👍

[2016-10-11 13:21] chrismichaels84 commented on #22
Things have calmed down a bit for me. Did you see any features/parts you would like to integrate?

[2016-10-25 09:06] zhangv opened #30 "Specify the config file in the command line"
Hi,
Here is the situation, usually we have several different environment(such as production/local development), that means the config is different to each env(such as log file location and some settings).

Just had a quick looking up in the source code and found out that, I can specify ENV parameter - CRUNZ_BASE_DIR, which will be checked when loading the configuration file(crunz.yml).

But, CRUNZ

[2016-10-26 23:09] daveganley opened #31 "You really should credit code if you using someone elses"
https://github.com/lavary/crunz/blob/master/src/Event.php looks very much like a old version of Laravel Scheduling https://github.com/laravel/framework/blob/5.0/src/Illuminate/Console/Scheduling/Event.php

[2016-10-27 03:29] lavary commented on #31
Hi Dave, maybe you need to read the code more deeply this time. `Event.php` has more 34 methods than Laravel's and most of the other methods are heavily refactored. And yes it's been inspired by Laravel Scheduler (because at first, it was dependent on Laravel's scheduling feature), which I've mentioned everywhere:

https://www.reddit.com/r/PHP/comments/4flwga/cron_manager_for_php_inspired_by_larav

[2016-10-27 04:11] daveganley commented on #31
I didn't say you hadn't refactored or added. I could see the difference and knew where it had come from but NOT from within your code. Inspiration and parts of the original code used, should be credited in your code. Source code is god, linking to a couple of articles after being questioned about it doesn't really cut it. It's not like someone is going to google after reading your code to see if t

[2016-10-27 04:11] #31 closed

[2016-10-27 04:29] lavary commented on #31
After been questioned?! I've introduced Crunz with those articles for the first time when no one knew it existed.

I can only add credit when someone else's logic is used, not when I use a few **method names with simple variable assignments in them**. I wish you read the code before trivializing other people's efforts.

[2016-10-27 04:59] lavary commented on #31
I'll add the required information to the `Event.php` class.

[2016-10-27 06:34] daveganley commented on #31
I never travilized your efforts as stated in your private message. I just said from the start put credit in your code. Its polite and gives other devs more information

[2016-10-27 06:44] lavary commented on #31
Sorry to say this, but this issue tracker is for issues/enhancement/questions related to the code. Any other thing is better to be discussed through an email. You may also send a PR regarding the "more information" if you're concerned about that with above explanations.  I'll be pleased to merge.

Thanks.

[2016-10-31 04:06] vionemc commented on #2
Will this library retry the cron job if it fails?
Is there any fault tolerance mechanism?

[2016-10-31 04:16] vionemc opened #32 "Change config from code"
I want to have my default values for some of the fields like email information, but I want my users to be able to modify some of the config.

Can I have only one default config, and then have the other config to modify?

[2016-10-31 05:07] lavary commented on #2
it won't be retried when there's a failure, but the event runner will log the error or send an email notification (even if there's a parse error in your specified callbacks). You may read about it [here](https://github.com/lavary/crunz#error-logging)

You can also create a number of PHP callbacks to be called in case of an error - by using `onError()` method. This is covered [here](https://github.

[2016-10-31 05:11] lavary commented on #32
Unfortunately, this kind of inheritance is not yet provided with the configuration file, but it will be in the next release, which is coming out next week.
Stay tuned!

[2016-10-31 09:08] pjuanda opened #33 "Symfony Version >= 2.7 and < 3.0 support"
Currently i have symfony project with symfony version 2.8.x - when trying to install crunz, it rejected because some of the dependecies is for Symfony >= 3.0 like  `symfony/yaml`, `symfony/finder`, and `symfony/process`. Is there any plan for downgrade the lib versions, so it can be use for symfony < 3.0 ?

[2016-10-31 10:07] lavary commented on #33
Thanks for reporting this. I'll take a look.
I'll get back to you.

[2016-10-31 15:37] #2 closed

[2016-10-31 16:00] HMAZonderland opened #34 "PHP Notice: Serialization of closure failed: Serialization of 'Closure' is not allowed"
invalid

[2016-10-31 16:10] HMAZonderland opened #35 "Using function output?"
I have implemented Crunz. I've created an `Event` with a `Closure` that initially used Doctrine's EntityManager to remove some sort of entity that was older than 24hours. That did not seem to work because the events where serialised by some library called `SuperSerialise`. Anything Doctrine related and serialisation do not play well.

I've moved the `Closure` to a separate function in the same `Ta

[2016-11-16 15:50] HMAZonderland opened #37 "onError function"
The `onError` function is nice. But it would be nice if we could catch / output exceptions in this function so we can log this somewhere or do anything else with them.

Also the ways we can log is way to restricted at this point. I see you use `Monolog` / `LoggerInterface` implementation. Perhaps we can make it so the developer can set any logger that implemented the `LoggerInterface` interface th

[2016-11-17 10:02] Anyqax opened #38 "appendOutput to different file"
Hi,

I have the following configuration options

log_output: true
output_log_file: app/logs/tasks/general.log

and a task:

$schedule->run('php app/console xxxx')
    ->everyOneMinutes()
    ->description('xxxx')
    ->sendOutputTo('app/logs/xxx.log');

I would expect the output for this file to be logged to xxx.log, but instead it's logged to general.log.
Same effect when I use appendOutputTo.

A

[2016-11-18 04:51] RebafC opened #39 "Problem with ->in(dirname) on Windows"
In the buildCommand function of Events.php, the change directory instruction is concatenated to rest of the command using a semi colon. This does not work under Windows. Commands can be joined with an ampersand.

A possible fix is to replace

_$command .=  'cd ' . $this->cwd . ' & ';_

with
_if (strtoupper(substr(PHP_OS, 0, 3)) === 'WIN') {
    ## Windows
    $command .=  'cd ' . $this->cwd . ' &

[2016-11-25 14:28] spotman opened #40 "Custom files finder / initialization strategy"
Hi there!

Thanks for this awesome library!

I want to use Crunz in CMF with multiple directories for scheduled events files (app, core and some modules). These directories are detected dynamically and can not be set via cli argument or yml config.  As I understood doc and the code correctly, it's not possible to configure Crunz to use custom files finder. So my suggestion is to implement special

[2016-11-30 18:56] krlitus opened #41 "Undefined index: year in vendor/lavary/crunz/src/Event.php on line 370"
This error occurs when using on method in 'Running Events at Certain Times'

[code]

Apparently missing the position for the year in the attribute 'fieldsPosition'.

[2016-12-19 06:20] simshaun opened #45 "[Suggestion] Include a PHAR file of each release"
It would be great to have crunz as a self-contained .phar file (like Composer).

Primarily, it would offer a solution for those with conflicting shared project dependencies (e.g. #33)

[2016-12-21 16:26] m-hume commented on #38
Anyqax i had the same problem too
https://github.com/lavary/crunz/pull/46 fixes it
mh

[2016-12-26 06:48] lavary commented on #40
Hi, thanks for the comment. I think that's a fantastic idea. I'd appreciate if we can cooperate on this.

[2016-12-26 06:50] lavary commented on #45
I'll include in the next release.
Thanks.

[2016-12-26 06:52] lavary commented on #37
Hi,
I'll definitely work on the error and logging features for the next releases.
However, I'd really appreciate if you contribute your fixes (If you've done so) to this package.

Thanks again.

[2016-12-26 06:55] lavary commented on #30
Having the config file path specified in the command line has been put on the to-do list for this package. It will be included in the next release.

However, I'd appreciate if you contribute your fixes (if you've done so) to this package.

Thanks again.

[2016-12-26 06:57] lavary commented on #32
Closing the issue, feel free to re-open if you have more questions.

[2016-12-26 06:57] #32 closed

[2016-12-26 06:57] #45 closed

[2016-12-26 06:59] lavary commented on #28
Hi, sorry for the extremely delayed reply.
Yes that's possible to add the commands to your own console kernel.

[2016-12-26 06:59] #28 closed

[2016-12-26 06:59] #37 closed

[2016-12-26 06:59] #30 closed

[2016-12-26 07:00] #40 closed

[2017-03-02 09:23] cidious opened #47 "Job stats and management"
Hello,
just a feature request:
do you mind to add the following stats functions:
1. what job will be run next
2. what jobs have been running now
3. what job has finished last
4. detect the job error level (bool error/success or unix int 0=success or >0=error code)
5. job naming to ease the management

[2017-03-07 05:30] #19 closed

[2017-03-14 12:44] weiminzhen opened #48 "Neither appendOutputTo() or sendOutputTo() works"
**Here is my code:**

[code]

**and my /etc/crontab:**

[code]

All my Schedules work fine.
But,When I try to user sendOutputTo(),I get no output in /tmp/test.
It works if I redirect output to file in /etc/crontab:

[code]

**So.**
How can I send output of each job to individual file.

**Thank you.**

[2017-03-27 12:10] clindh opened #49 "Using another root directory for everything"
What is the best way to use another root directory for crunz? I rather not have my task nor configuration file in the composer/ directory.

I know it is possible for the `schedule:run` and `schedule:list`
_We can explicitly set the source path by passing it to the event runner as a parameter_

But this applies only to finding the tasks?  It still seems to require config file in composer/.
An optio

[2017-03-27 13:50] clindh commented on #48
I can't get this to work either

[2017-04-11 07:52] amitt001 opened #51 "How to reset and see time left for the scheduled job?"
I have scheduled a job for "everyHour".
How to see the time left before the next schedule and how to reset the schedule?

[2017-04-11 09:45] #51 closed

[2017-04-11 19:04] smehtaCAS opened #52 "Unable to install"
Hi,

I am trying to install the using composer - composer.phar require  lavary/crunz

I am getting the following error:

Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - Can only install one of: lavary/crunz[v1.4.8, dev-master].
    - Can only install one of: lavary/crunz[v1.4.8, dev-master].
    - Installation request for lavary/crunz ^1.4.8 -> satisfi

[2017-04-13 16:24] #22 closed

[2017-04-20 10:24] #48 closed

[2017-04-21 18:23] smehtaCAS commented on #52
Any suggestion? Thanks.

[2017-04-24 12:37] devads commented on #33
Any solution for this problem ? I also use symfony 2.8.x and can't install crunz.
Thanks,

[2017-04-26 04:10] pjuanda commented on #33
@devads brutal way, you can fork this library, change its minimum-requirements and let's your project point to your forked location. Or, maybe you can try another library like [jobbyphp](https://github.com/jobbyphp/jobby) maybe ?

[2017-04-26 06:30] devads commented on #33
I finally upgrade to symfony 3.2, so it's ok now !

[2017-04-26 22:55] cjunge-work opened #55 "Event:sudo is not correct"
On line https://github.com/lavary/crunz/blob/master/src/Event.php#L200 there is a call to `$this->sudo()`, but the definition at https://github.com/lavary/crunz/blob/master/src/Event.php#L222-L225 is  `protected function sudo($user)` with the `$user` parameter being used.

Also, on https://github.com/lavary/crunz/blob/master/src/Event.php#L207 the call to sudo() is not appended to the `$command`,

[2017-05-10 14:43] araiczyk opened #56 "Task next execution time?"
Hi,
I was wondering if there's a way to get the next execution time for a Task.
Thanks in advance,

Alejandro

[2017-05-15 05:46] manojsb commented on #56
@araiczyk

I think you can get this from your code as of now.

[2017-05-15 05:54] manojsb opened #57 "Getting namespace error"
Hi

In my PHPStorm it's giving error for namespace
![screenshot from 2017-05-15 11-15-11](https://cloud.githubusercontent.com/assets/25655962/26044286/0219cf50-3961-11e7-9f1f-a4525673ca7e.png)

[2017-05-27 15:59] allen-ecu opened #58 "delete,pause task from scheduler list by id"
Hi guys,

do we have the ability to delte or pause a specific task by id throught command?

e.g.
crunz tasks remove 1
crunz tasks pause 2
crunz tasks resume 1

at the moment, we can't delete the task from the list, can we?

[2017-06-29 07:33] nvkhoa666 opened #59 "Supported for PHP 5.3"
Hi,

I really like your library, it is super useful. I just wonder what is the reason for this library to require PHP 5.5? We have quite old server software and we can't upgrade to newer PHP version at the moment (only has PHP5.3). Thank you.

[2017-07-21 16:56] RyanNutt opened #60 "Closure on Windows - not recognized command"
I'm getting an error when trying to test my first task from the Windows command line. I'm still working on getting my head wrapped around Crunz, so this may very well be a silly mistake on my part.

Here's my task code.

[code]

The error I'm getting is

[code]

It only does this when I'm trying to use a closure. If I enter a command like `dir` it works perfectly.

`schedule:list` works and shows

[2017-07-26 08:54] tamhv opened #61 "High CPU usage"
I used crunz with a php script of sending email ("yiic emailSpool loop" http://cornernote.github.io/yii-email-module). In this script, it'll fetch spooled email (e.g 10 emails) from db and send them, then sleep 1 second, then next 10 emails,...

The problem is the `schedule:run `used very high CPU load

Pls look at process 84672

![screen shot 2017-07-26 at 3 29 11 pm](https://user-images.githubus

[2017-08-01 13:15] unrup1 commented on #61
Hey,

the problem is that the runner is not waiting in sleep for your process.
The runner create a extra process for your command.
In the code there is a while loop, which ask every time if the process is closed.

I think because of this loop the cpu usage is so high.

[2017-08-01 22:12] svjacob opened #62 "Adding command-line arguments to schedule:run that pass into each task found"
I have a couple tasks that are slightly different and can be simplified into a generic task.
All I would need is someway to pass in arguments through something like $argv, through the schedule:run command to the defined Tasks.php files.

Is there already available, or possible?

Thanks! 👍

[2017-08-02 01:22] tamhv commented on #61
Yeah I'm considering to use supervisord for this kind of script

[2017-08-02 20:01] kinoute opened #64 "Crunz sends output email even if the output is empty"
Hi,

I was using traditional cronjobs with a MAILTO variable and some other args to receive mails only when my scripts output something (i.e. not empty).

I switched to crunz and tried to reproduce the same thing. Unfortunately, I can't. I receive emails for every cronjob even if the output of the scripts is empty. I think crunz should only send an output (when we activate them in the conf file) i

[2017-08-03 17:50] svjacob opened #65 "Schedule closure function outputs empty crunz.ERROR"
[code]

When I run a schedule command that's a closure function, I get

`crunz.ERROR:  [] []`

outputted to my error log.

Not a big issue, but annoying to fill up my crunz error log with this? Any idea what's happening?

[2017-08-23 15:04] lasanthaa opened #66 "SMTP setup does not work correctly"
Hi
I ran the code using ssh in my server.
/usr/local/bin/php /home/souvenir/public_html/new/cron2/vendor/lavary/crunz/crunz schedule:run

But i got error saying "Invalid type for path "crunz.smtp". Expected array, but got strings"
My smtp set up is

[code]

Is there anyone who faced this issue?
Thank you

[2017-08-26 07:08] amitt001 commented on #61
Any updates on this? @lavary anyone I am also facing 100% cpu usage even when only one job is running. That actual job just takes 1-2% CPU but `php /opt/app/vendor/bin/crunz schedule:run /opt/app/tasks/` takes 100% CPU.

[2017-09-01 03:40] lyxabymxlc opened #67 "ERROR on ubuntu "crunz: command not found""
@lavary On the Ubuntu server, when I go into the vendor/bin directory and execute "crunz list", I prompt "crunz: command not found". What should I do? Thank you

[2017-09-01 03:55] lyxabymxlc commented on #67
Thank you, it has been resolved. Use "PHP crunz list""

[2017-09-01 03:55] #67 closed

[2017-09-21 08:58] watchowl opened #68 "Question: Can I make a CakePHP plugin using this library"
Can I make a CakePHP plugin using this library?

[2017-09-25 05:16] adamwinn commented on #61
I am seeing 100% CPU usage too for a simple php task

[2017-09-25 16:46] #20 closed

[2017-10-12 20:39] wujekbogdan commented on #61
I'm also experiencing high CPU usage and I'm sure that the usage is not caused by the PHP script I'm running from CRON, but by the crunz script itself.

[2017-10-15 02:48] wujekbogdan commented on #61
I did some test over last few days. I found that using `preventOverlapping()` solves the problem of the high CPU usage, but it's not a full solution.

I had several tasks running. All of them were executed in 5 minutes interval (`*/5 * * * *`). All of them had `preventOverlapping()`. I've been monitoring them - each execution was logged, I have also been logging the CPU usage with `sys_getloadavg(

[2017-10-15 07:12] adamwinn commented on #61
I'd say it's a bug in the Crunz scheduler, but it looks like this project is dead.

[2017-10-15 14:58] wujekbogdan commented on #61
@adamwinn
It's a pity because it's the most powerful CRON manager for PHP and the only competitor for [Jobby](https://github.com/jobbyphp/jobby) library, which is also quite good, but less advanced and also a non-bug-free.

[2017-10-21 19:37] #34 closed

[2017-11-04 20:23] kinoute commented on #61
Same problem here. Using `preventOverlapping ()` doesn't fix it unfortunately.

[2017-11-15 08:42] madhukumaar opened #70 "Always getting "No event is due! ""
After running `vendor/bin/crunz schedule:list`

I have the following, but the cron log is always saying: No event is due!

+-----+---------------------------------------+-----------------+----------------------------------------------------------------------+
| #   | Task                                  | Expression      | Command to Run                                                       |
+--

[2017-11-30 07:34] josenano commented on #70
Seems like this project has been abandoned by the dev. But I am still using it and is working fine for me. I have tried every minute, daily, and weekly so far.

[2017-12-01 07:49] anmoroz commented on #70
It looks like that.

[2017-12-14 17:41] dhastings commented on #70
Ensure that your timezone is set. I had set my system timezone, but I forgot to set date.timezone in my php.ini. Alternately, you can set a timezone for each task using the timezone() method. Hope this helps.

[2017-12-20 12:17] klebb commented on #60
looks like a bug in lavary\crunz\src\Event.php:249 where it expects the file lavary\crunz\crunz to be executable by itself. prepending php to the command seems to fix this issue. resulting line 249:
return "php " . __DIR__ . '/../crunz closure:run ' . http_build_query([$closure]);

[2018-02-21 12:00] digilist opened #71 "New package maintainer"
Hello. It looks like this package got abandoned and there is nobody looking into issues and pull requests.

@lavary would mind giving another person write access to this repository if somebody is willing to take responsibility for this repository?

[2018-03-06 11:53] lavary commented on #71
Hi Markus,
Thanks for bringing this up. I've been actually looking for someone to help me maintain this package.
Anyone who's interested to be a collaborator, just drop me an email.

Thanks!

[2018-03-12 19:11] MoatazGitHub commented on #41
How can I fix this issue ?

[2018-03-24 16:44] PabloKowalczyk commented on #71
@lavary Check your e-mail :)

[2018-04-07 00:36] royord commented on #71
Is this transition under way, I notice that there are a number of forks that are ahead of the master.

[2018-04-08 06:42] PabloKowalczyk commented on #71
@royord i just received push permission and i will do some merges, cleanups and releases.

[2018-04-08 07:45] PabloKowalczyk commented on #33
PR https://github.com/lavary/crunz/pull/74 introduces support for Symfony 2.7/2.8. Closing this issue.

[2018-04-08 07:45] #33 closed

[2018-04-08 08:07] #71 closed

[2018-04-08 08:33] PabloKowalczyk commented on #29
There is no way to force PHP version inside Crunz. You can force PHP version by running something like this: `* * * * /path/to/bin/php56 /vendor/bin/crunz schedule:run`, the `/path/to/bin/php56` part will use exact PHP bin.
This is issue is not related to Crunz itself, closing.

[2018-04-08 08:33] #29 closed

[2018-04-08 08:35] PabloKowalczyk commented on #68
Of course! :)

[2018-04-08 08:35] #68 closed

[2018-04-08 08:41] PabloKowalczyk commented on #59
Hello,

PHP 5.3 is very old and is not supported from about 4 years. There should be really good reason to support that old version.
You can install Crunz next to your app and run Crunz with PHP 5.6 while your app will be using PHP 5.3. Please note that Crunz is app independent.
I hope it will clear some things.

[2018-04-08 08:41] #59 closed

[2018-04-09 19:35] PabloKowalczyk commented on #70
@madhukumaar could you show how you configured tasks run date?

[2018-04-09 19:39] #21 closed

[2018-04-09 20:00] #35 closed

[2018-04-09 20:12] PabloKowalczyk commented on #52
Hello @smehtaCAS, do you still face this issue?

[2018-04-09 20:15] PabloKowalczyk commented on #9
https://github.com/lavary/crunz/pull/13

[2018-04-10 03:33] smehtaCAS commented on #52
It was a dependency issue. I do not remember how I got it to work. Haven't tried recently though. Thanks.

[2018-04-10 17:49] PabloKowalczyk commented on #52
Ok, i will close this issue. Please open new one if you face this issue again. Thanks.

[2018-04-10 17:49] #52 closed

[2018-04-10 19:07] PabloKowalczyk commented on #15
Is this issue still valid?

[2018-04-12 10:01] kinoute commented on #61
A standard cronjob (like every 5 minutes) linked to a PHP script with a loop inside makes my CPU goes high.

Example (task):

[code]

loop.php (15 secs are enough to see the high CPU usage)

[code]

![capture d ecran 2018-04-12 a 11 47 23](https://user-images.githubusercontent.com/623763/38669843-92de04f2-3e47-11e8-8d49-a468209c135c.png)

Running the loop.php file directly with "php loop.php" does

[2018-04-12 18:17] PabloKowalczyk commented on #61
Thank you @kinoute, your samples was very helpful. IMO the problem was in the `EventRunner::ManageStartedEvents()`, the `while` loop doesn't have any `(u)sleep`.
Could anyone test CPU usage on this version https://github.com/PabloKowalczyk/crunz/tree/fix-high-cpu-usage? In my tests usage reduced from ~30% to ~0,1% :)

I can do release even today if you confirm that my branch fixed issue.

[2018-04-12 19:14] kinoute commented on #61
I tested your fix, now it goes from 96% to 12%. Huge improvement! Even if 12% for an echo in a loop is still a little too much, I will definitely take this fix/release with pleasure!!

[2018-04-12 19:28] kinoute commented on #61
Now my code (the one I shared earlier) is using less than 1% of my 2009 Mac Mini CPU! I think it's perfect, thanks!

[2018-04-12 19:40] #61 closed

[2018-04-12 19:53] PabloKowalczyk commented on #61
In the end i set probing time to 0,5s, IMO in Cron jobs this time can be set even to 1s.
Issue is fixed and released in v1.5.1. Thanks @kinoute for tests and sample code.

[2018-04-14 19:20] marcusirgens opened #78 "Monolog 2.0 support"
Hi!

I'm wondering if you're planning to add monolog 2.0 support? I tried cloning and running crunz locally with monolog 2.0, and it seems to work fine, so I'm assuming a version bump in the composer file should suffice.

Marcus

[2018-04-14 19:28] PabloKowalczyk commented on #78
Hello,

i think it is not a problem to support Monolog 2, but there is no official release of 2 version. Milestone for v2 is on 75% - https://github.com/Seldaek/monolog/milestone/1 and the question is why you use Monolog 2 in your project? `dev-master` is not meant for production use.
Could you tell me your use case?

[2018-04-15 08:35] PabloKowalczyk commented on #18
@1988luis @josealgardataborges is issue still exists?

[2018-04-16 08:30] josealgardataborges commented on #18
Hi @PabloKowalczyk as stated in my comment on 11 Aug 2016, it was a "Typo" on my code... Sorry for keeping this open so long ;)

[2018-04-16 15:10] #18 closed

[2018-04-16 19:26] PabloKowalczyk commented on #38
As @m-hume said, issue fixed in #46 and merged to `master.

[2018-04-16 19:28] PabloKowalczyk commented on #12
@clops issue fixed in https://github.com/lavary/crunz/pull/46 and merged to `master` branch.

[2018-04-16 19:28] #12 closed

[2018-04-16 19:30] PabloKowalczyk commented on #57
Hello @manojsb, do you still face this issue?

[2018-04-17 15:37] PabloKowalczyk commented on #26
Hello, do you still face this issue?

[2018-04-17 17:38] #39 closed

[2018-04-18 17:02] ultralamer commented on #26
Hello! Unfortunately, i don't use crunz anymore.

[2018-04-18 18:41] PabloKowalczyk commented on #26
So i will close this issue. Thanks.

[2018-04-18 18:41] #26 closed

[2018-04-19 11:42] HilbertGilbertson opened #83 "Task runs every minute of hour with on()"
The `on` method supposedly supports any string that can be parsed with strtotime, except it has a problem with the minute on the hour. Here's my problem example:

`->on("Thursday 11:01")` runs once today (Thursday) at 11:01 UTC. But if changed to `->on("Thursday 11:00")` the same task runs on each call of `schedule:run` until 11:59 (11:00, 11:01, 11:02, 11:03, etc; with the standard crunz setup, t

[2018-04-21 07:32] PabloKowalczyk commented on #83
Hi, expected behavior of `->on('8:00')` is to run task only at 8:00, not on 8:00, 8:01 etc. Fixing it was easy - just make strict comparisons. Thanks @HilbertGilbertson.

[2018-04-21 07:32] #83 closed

[2018-04-21 10:37] PabloKowalczyk commented on #55
You are right. Fixed in https://github.com/lavary/crunz/pull/85, thank you.

[2018-04-21 10:37] #55 closed

[2018-04-21 10:42] PabloKowalczyk commented on #41
@krlitus could you provide date that causes this issue?

[2018-04-21 10:49] PabloKowalczyk commented on #49
Hi, maybe option to specify config file will help? For example: `crunz --config-file /path/to/config/file.yml`?

[2018-04-21 10:55] PabloKowalczyk commented on #56
Hello, @araiczyk do you mean to extend info from command `schedule:list`?

| # |      Task      |  Expression | Command to run | Next run |
|--|-------------|------------|------------------|-----------|
| 1 | Emails        |  0 9 * * * *   | mail                      | In 1 minute|
| 2 | Db        |  0 9 * * * *   | db                     | Today at 15:22 |

[2018-04-21 11:00] PabloKowalczyk commented on #58
Hello, currently this is no way do this. Do you mean `crunz tasks:remove 1` remove entire file?
What `pause` should do?

[2018-04-21 12:52] PabloKowalczyk commented on #60
Thanks for report. Fixed in https://github.com/lavary/crunz/pull/86.

[2018-04-21 12:52] #60 closed

[2018-04-21 14:56] PabloKowalczyk commented on #65
Fixed in https://github.com/lavary/crunz/pull/87, thanks for the report.

[2018-04-21 14:56] #65 closed

[2018-05-01 23:11] RebafC commented on #39
Thank you. These changes are working well for me.

[2018-05-10 05:43] cidious commented on #47
Hello, no thanks, but it would be nice to have.

[2018-05-10 19:33] PabloKowalczyk commented on #62
Hello, your use case seems very specific. I think that you can also do this in your own code by some generic/abstract class.
BTW IMO there is nothing wrong about having couple of similar tasks - maintenance is easier in smaller files.

[2018-05-10 19:35] PabloKowalczyk commented on #64
Hello, do you still face this issue?

[2018-05-11 14:56] kinoute commented on #64
Yes. I just tried.

Steps to reproduce:

1) set "email_output" in the config file to "true" and add emails infos into the "mailer" part
2) create a php file with a job that should output nothing like:

[code]
3) Create the Tasks file:

[code]

4) run `./vendor/bin/crunz schedule:run`

I received an email with no real output (just the description & the filename):

![capture d ecran 2018-05-11 a 16

[2018-05-13 19:30] #64 closed

[2018-05-13 19:44] PabloKowalczyk commented on #64
Released as v1.6.1. Thanks for report @kinoute.

[2018-05-19 19:21] RaeesAbbas opened #91 "Class 'Crunz\Schedule' not found"
**it is the ERROR:**
Fatal error: Uncaught Error: Class 'Crunz\Schedule' not found Stack trace: #0 {main} throw ..
 **Here is the code:**
use Crunz\Schedule;
$schedule = new Schedule();
$schedule->run('test2.php');
         $schedule->everyMinute();
         $schedule->description('mail testing');

return $schedule;

[2018-05-20 06:52] PabloKowalczyk commented on #91
Hello.
Code that you provide doesn't work but from other reason than `Fatal error: Uncaught Error: Class 'Crunz\Schedule' not found`, actual error is `Fatal error: Call to undefined method Crunz\Schedule::everyMinute()`.
Here is the working code:
[code]
Does it help?

[2018-05-20 09:10] RaeesAbbas commented on #91
Error is same
**Fatal error:  Class 'Crunz\Schedule' not found  Stack trace: #0 {main} thrown in :**
**Here is my code's look now:**
`<?php
use Crunz\Schedule;
$schedule = new Schedule();
// Note that run method returns Event instance
$event = $schedule->run('test2.php');
$event->everyMinute();
$event->description('mail testing');
return $schedule;
?>
`

[2018-05-20 09:13] PabloKowalczyk commented on #91
Could you tell me which Crunz version you use, what is your OS and do you run `crunz schedulre:run` command?

[2018-05-20 09:16] RaeesAbbas commented on #91
i am using windows 10 and 1.6 version of Crunz.

[2018-05-20 09:18] PabloKowalczyk commented on #91
Do you run Crunz by `php vendor\bin\crunz schedule:run` command?

[2018-05-20 09:34] PabloKowalczyk commented on #91
Crunz is not meant to be run by browser. proper usage for Crunz is to configure Cron to run `php crunz schedule: run` every minute.
To avoid error you need to require `autoload.php` generated by `Composer` - `require_once 'vendor\autoload.php'`, but if you run task file directly by browser, configured command won't be run because this is Crunz responsibility to run task on specific, configured, ti

[2018-05-20 09:43] RaeesAbbas commented on #91
By` crunz schedule:run`  command i got  no event is due ...
![image](https://user-images.githubusercontent.com/18502684/40277657-16001264-5c3c-11e8-9336-14a156ead8a2.png)

[2018-05-20 09:49] PabloKowalczyk commented on #91
Try to call `vendor\bin\crunz schedulre:run` from `LocalMailTester` directory.

[2018-05-20 10:00] RaeesAbbas commented on #91
do you mean `schdule:run` instead of `schedulre:run` .
![image](https://user-images.githubusercontent.com/18502684/40277747-ddc76530-5c3d-11e8-9a3d-6a417f9b616c.png)
 now i change it to `schdule:run ` and got folllowing , is it mean its ok no problem  .
![image](https://user-images.githubusercontent.com/18502684/40277791-670d5494-5c3e-11e8-8ad6-3ac3f0f72a47.png)

[2018-05-20 10:04] PabloKowalczyk commented on #91
Of course `schedule:run`, i've edited comment. Did you properly configure Crunz with task suffix and task directory?
Could you show result of command `vendor\bin\crunz schedule:list`?

[2018-05-20 10:17] RaeesAbbas commented on #91
now i need to configure Crunz with tasks suffix and task directory right?
![image](https://user-images.githubusercontent.com/18502684/40277864-f0b1aea6-5c3f-11e8-9f85-5ffce8460a93.png)

kindly guide me to configure on windows.
i created directory `tasks` in projects root directory and a file named as `Tasks.php` and also place  file `test2.php` near with `Tasks.php` .    I configure `Tasks.php`  t

[2018-05-20 10:38] RaeesAbbas commented on #91
Is  i need to  use `make:task` to configure explicitly tasks directory and suffix?
As i described above in   `Tasks.php`  i configure  `$event = $schedule->run('test2.php');  `  file.  `test2.php` is  in same directory as   `Tasks.php ` .  Is  i need to `php  vendor\bin\crunz schedulre:run`  to configure Cron to run every minute , in my case i am on windows have  Task scheduler App not cron  ?

[2018-05-20 11:08] PabloKowalczyk commented on #91
You can create config file by `vendor\bin\crunz publish:config`.

Exactly.

Yes.

`TestTasks.php` file should be in `tasks` directory and calling `vendor\bin\crunz schedule:list` should show this file.

[2018-05-20 15:37] PabloKowalczyk commented on #91
Anyway, this issue is not related to Crunz code itself so i will close this issue, but you can write in this thread if you need help.

[2018-05-20 15:37] #91 closed

[2018-05-20 15:41] PabloKowalczyk commented on #78
There is no further answers from author, also date of release of `Monolog` v2 is not known so i will close this issue. Feel free to open new issue when `Monolog` will be v2 :)

[2018-05-20 15:41] #78 closed

[2018-05-22 06:59] hasanmir777 opened #93 "How to use it on cpanel with subdomain"
i need this for my project so can i use this task manager in subdomain please if i can please guide me on how to make it work on cpanel.

[2018-05-23 05:17] hasanmir777 commented on #93
My friend i think you miss understood. i want to use it online is it possible with cpanel then i need a guide on how to upload on cpanel and any steps to make it work on my website and if any sub-domain or separate database is required please guide me through it

[2018-05-23 05:20] hasanmir777 commented on #93
here is a link to video on how to upload a website on cpanel that's all i know.

[2018-05-27 06:30] PabloKowalczyk commented on #70
PR #94 added `timezone` key to config. This option is now required so this will lower confusion about tasks' run time.

[2018-05-27 06:30] #70 closed

[2018-05-27 11:43] PabloKowalczyk commented on #9
No response to issue or PR - closing. Feel free to open new issue/PR if you still experience this problem.

[2018-05-27 11:43] #9 closed

[2018-05-27 11:44] PabloKowalczyk commented on #15
No response to issue - closing. Feel free to open new issue if you still experience this problem.

[2018-05-27 11:44] #15 closed

[2018-05-30 19:46] facundocapua opened #108 "Project configuration file not loaded"
First of all, I want to congratulate you for the great module you've developed. The code looks clean and the documentation is great, great work!

I have a question regarding using my custom `crunz.yml`.

Let me summarise the steps I followed:
* I have installed the module via composer
[code]

* Then I have create a new Tasks file under some project folder:

* Testing the executing like this:
[code

[2018-05-31 04:49] PabloKowalczyk commented on #66
Possibly outdated issue. Feel free to open new if you still face this problem.

[2018-05-31 04:49] #66 closed

[2018-06-01 12:06] monitaure commented on #108
I was wondering why my tasks did not launch, @facundocapua thanks for your issue.

On my projects `CRUNZ_ROOT` is setted as `/project/path/vendor/lavary/crunz` and `getbase` return `/project/path/vendor/lavary/../..`.

The `getbase` function's documentation says _Return the project's root directory._ so @facundocapua I think your fix `$config_file = getbase() . '/crunz.yml';` would be ok in https:

[2018-06-01 12:35] PabloKowalczyk commented on #108
Hello guys.
You are 100% right about bug. I think that first path to check should be current working directory, then `getbase() . '/crunz.yml';` and fallback to `CRUNZ_ROOT . '/crunz.yml'`.
I will work on fix and try to do release as fast as possible.
In the future i will add option to specify config file by `--config`.
Thanks for report guys.

[2018-06-01 15:32] PabloKowalczyk commented on #108
Fixed and released as `v1.7.1`, thanks @facundocapua and @monitaure!

[2018-06-01 15:32] #108 closed

[2018-06-01 15:50] PabloKowalczyk commented on #57
Actually this was fixed in https://github.com/lavary/crunz/commit/3d3bf65bd1cabacba1ed9831ddc7d5b686ae50b2

[2018-06-01 15:50] #57 closed

[2018-06-01 16:04] facundocapua commented on #108
Thank you!! @PabloKowalczyk

[2018-06-12 10:54] mindcreations commented on #41
Experienced this problem today while trying on() method. The problem is caused by $segments['year'] in this line:
[code]
To fix this I think is enough to replace $segments with $date the fixed code will look like:
[code]
I'll arrange a push request...

[2018-06-12 13:58] mindcreations opened #115 "How to run a clojure that accepts objects as arguments"
If I give a clojure to the run() method and for example I pass an $object of type Job

[code]
I get this notice

followed by

This is correct because the definition of **Job** has not been included in any place.

How should I approach this if I pass an argument that is not known to the scheduler?
Also, if it can work as suggested by the PHP notice, where have I to put an __autoload() or spl_autolo

[2018-06-13 18:09] PabloKowalczyk commented on #115
Interesting. Do you use globally installed Crunz?
This should work by default because Crunz, should, use autoloader provided by you project which is provided by Composer.

[2018-06-14 10:35] mindcreations commented on #115
No, locally installed Crunz.
In fact there is no autoloader because it is an OLD, OLD project which also uses PHP 5.6
At this point I think that the legacy codebase should be refactored to use autoloading, at least for the classes that are used within the Crunz closure.

[2018-06-14 18:07] PabloKowalczyk commented on #115
In this case you can add specific files to Crunz autoloader - https://getcomposer.org/doc/04-schema.md#files, should work even with very old project.

[2018-06-15 08:58] mindcreations commented on #115
It worked! But I've not added the specific files to Crunz autoloader but rather in the composer.json of my project.

[2018-06-15 08:58] #115 closed

[2018-06-15 18:59] PabloKowalczyk commented on #115
This is exactly what i mean :)

[2018-06-15 19:00] PabloKowalczyk commented on #41
Fixed in https://github.com/lavary/crunz/pull/118. Thanks guys.

[2018-06-15 19:00] #41 closed

[2018-06-18 09:32] PabloKowalczyk commented on #49
No response from author - closing. Feel free to open new issue, thanks.

[2018-06-18 09:32] #49 closed

[2018-06-20 11:43] syahnur197 opened #121 "Fatal error: Default value for parameters with a class type can only be NULL"
require the package into a codeigniter project. I put the tasks folder in the application folder, cron manages to run the code in the tasks folder, but I got this error instead

[2018-06-20 19:40] PabloKowalczyk commented on #121
Hello, could you paste exception stack trace and your configuration?

[2018-06-28 17:38] mindcreations opened #124 "Closure run and $var value not updated"
This is a clarification request on this snippet of code.

    $schedule = new Schedule();
    $var = 1;

    $schedule->run(function() use ($var) {
      echo $var; // Prints 2
      $var++;
    })
    ->before(function() use ($var) {
      echo $var; // Prints 1
      $var++;
    })
    ->after(function() use ($var) {
      echo $var; // Prints 2
    })

As I can see the execution flow is:

1. be

[2018-06-28 18:17] PabloKowalczyk commented on #124
Hello, you are correct about the flow, also  `run()` Closure is called in child process so there is no way to print 3 in `after()`. Maybe you can merge those three stages into one - `run()`?

[2018-06-28 18:34] mindcreations commented on #124
I've already did it.
I was wondering if there is a more elegant way to use before() and after() in a scenario like this.

[2018-06-28 19:03] PabloKowalczyk commented on #124
Since Closure passed to `run()` is serialized to be run as child process there is no way to exchange data with before/after callbacks on the language level (by reference). You can exchange data by file/db/memory/anything-you-want :) but IMO this is far beyond a scope of Crunz itself.

[2018-06-28 19:44] mindcreations commented on #124
I agree with you.

[2018-06-28 19:44] #124 closed

[2018-07-08 14:19] PabloKowalczyk commented on #56
Closing due to no response from author.

[2018-07-10 14:52] IkeLutra opened #125 "Ability to change lock directory"
*Scenario*

Running crunz in docker containers but still wanting to use the preventOverlapping feature using a shared volume.

*Current Behaviour*

Crunz always uses the system temp directory. It also requires on POSIX systems for all crunz jobs to be running in the same execution environment as it checks whether the pid in that file is still running. This prevents using shared file systems but di

[2018-08-12 09:28] clagio opened #126 "5 is not a valid position"
Hello,

I tried to create a new task with command make:task as your example:
 vendor/bin/crunz make:task exampleOne --run scripts.php --in /var/www --frequency everyHour

But when I try to execute it, I have the following error:

The task file has been created, and the task:list command is listing it

[2018-08-12 10:48] clagio commented on #126
I investigated a bit, and I think the issue is a bit tricky..
The error happens, because laravel 5.6 (which I'm using) require the package dragonmantank/cron-expression. Seems that this package doesn't support anymore the 6th character for the year, and seems that this package is used instead of mtdowling/cron-expression..
Not sure what is the best way to fix it..

[2018-08-12 11:56] mindcreations commented on #126
An idea maybe adding an IF in the code making a different call according to the used package, this way it will be retrocompatible.

[2018-08-12 12:00] SilverFoxA opened #127 "Script not getting invoked"
I have implemented this library for one of my projects to have a scheduling feature. The web server running ubuntu 16.04 on LAMP stack.

Here's my implementation

      use Crunz\Schedule;

       //Initializing in constructor
       $this->schedule = new Schedule();

       $seconds = $param["timestamp"]/ 1000;
       $time = date("H:i Y-m-d", $seconds);

      //calling task script where $param

[2018-08-12 12:59] PabloKowalczyk commented on #126
Hello, thanks for your report and investigation @clagio! IMO the best way to fix this issue is to switch to `dragonmantank/cron-expression`, i believe we can preserve BC, but we also should check if someone uses deprecated `mtdowling/cron-expression` and do some proper "ifs". In `v2` we can also add "conflict" with `mtdowling/cron-expression` (in `composer.json`).
Would you like to provide PR @cla

[2018-08-12 13:02] PabloKowalczyk commented on #127
Hello,
i think that your usage of `on` is wrong. Do you intend to run this script every minute?

[2018-08-12 13:41] clagio commented on #126
I think that switching to dragonmantank/cron-expression shouldn't be a big issue, but it really depends on how many changes there are between the two versions. The sixth character is not mandatory, so I suppose it's possible just ignore it even if it's provided and write in the readme that is not supported?

I'm in the process of learning php so I'm not sure i'm the right person to provide a PR, b

[2018-08-12 15:16] SilverFoxA commented on #127
No, I intend to use it on a day say `13th August 2018` at `16:10`

[2018-08-12 16:14] PabloKowalczyk commented on #127
Does it worked with `->on('13:30 2016-03-01')`?

[2018-08-12 16:35] SilverFoxA commented on #127
Don't you think this time frame has passed?

Here is what I have passed `17:19 2018-08-12`

[2018-08-12 16:45] PabloKowalczyk commented on #127
Just example :) Did you configured `timezone` in your YAML config file?

[2018-08-12 17:50] SilverFoxA commented on #127
yes, I have specified the time zone to be `Asia/Kolkata`, was wondering is there any other means using which we can debug this use case?

I'm yet to check the server timestamp. Assuming that will give some hint.

[2018-08-12 22:04] pwsebbi opened #128 "multiple crunz installations on same server causing conflict on writing in /tmp/crunz folder"
We have setup the same application in different webspaces on same server. This causing writing permissions error in the servers "/tmp/crunz" folder. I think we should instead use relative path like "tmp/crunz/" so we can put temporary files in each webspace's root instead?

[2018-08-15 14:02] PabloKowalczyk commented on #128
Hello, use of relative path will result garbage in place where you invoked Crunz. Temporary fix is to delete Crunz temp directory after every run of `crunz run:schedule`, as a fix i propose to save Crunz temp files per user. WDYT?

[2018-08-15 14:49] PabloKowalczyk commented on #127
I have done some tests. I specified `Europe/Warsaw` timezone and below script works as expected:
[code]
Make sure you are using correct timezone and `on` method should works as expected, also please notice that passing timestamp to `on` method could lead to some weird parse output as year 1534 or day 344 - https://3v4l.org/eHh4F

[2018-08-15 19:57] PabloKowalczyk commented on #11
Fixed by https://github.com/lavary/crunz/pull/120 and https://github.com/lavary/crunz/pull/129.

[2018-08-15 19:57] #11 closed

[2018-08-15 20:30] PabloKowalczyk commented on #58
I close because of the lack of response from the author.

[2018-08-15 20:30] #58 closed

[2018-08-17 20:32] PabloKowalczyk commented on #126
After some investigation i found out that `dragonmantank/cron-expression` has the same API as `mtdowling/cron-expression` so fix for `5 is not a valid position` can be easier.
As you said @clagio there is no year support in `dragonmantank/cron-expression` but Crunz doesn't use `year` part actually so i deprecate using six parts cron expression and limit parts to 5 to provide forward-compatibility.

[2018-08-18 08:17] PabloKowalczyk commented on #47
Closing due to lack of responses from author.

[2018-08-18 08:17] #47 closed

[2018-08-18 08:33] PabloKowalczyk commented on #126
I'm closing this issue because #131 was merged. Thanks @clagio for report.

[2018-08-18 08:33] #126 closed

[2018-08-18 10:45] PabloKowalczyk commented on #128
I reworked cache directory logic in https://github.com/lavary/crunz/pull/132 and now Crunz will try to write cache in `/tmp/.crunz/<current-user>/<crunz-version>`. The `/tmp/.crunz/` should be created with 777 permissions so everyone could write to it. There is also a fallback if cache directory is not writable - compile container in runtime.
These changes should fixes your issue.

[2018-08-18 10:45] #128 closed

[2018-08-31 23:04] cjeraldop commented on #127
I got the same error :-1:

@PabloKowalczyk
I tested your example and doesn't works. I executed your example and got the same error as @SilverFoxA

It only works when I use the timer every one minute.

[2018-09-01 07:33] PabloKowalczyk commented on #127
@cjeraldop it is very weird. What version of Crunz did you use and could you paste your task and config?

[2018-09-04 21:45] esetnik opened #134 "Empty error when invoking global function"
Example:

`TestTasks.php`
[code]

Output:
`[2018-09-04 17:44:02] crunz.ERROR: Test schedule(object(Closure))    [] []`

[2018-09-04 21:49] esetnik opened #135 "Empty error when invoking function with incorrect type hinting"
Example:

`TestTasks.php`
[code]

Output:
`[2018-09-04 17:47:02] crunz.ERROR: Test schedule(object(Closure))    [] []`

[2018-09-05 18:37] PabloKowalczyk commented on #135
Actually your closure do not work at all - https://3v4l.org/bjv0n
`Fatal error: Uncaught TypeError: Argument 1 passed to test() must be an instance of boolean, bool given`
There is no problem with Crunz itself :)

[2018-09-05 18:39] esetnik commented on #135
The issue is not that the closure is incorrect (I purposely made it this way). The issue is that crunz does not report the error. Look at my output from crunz. It does not contain any information about the error.

[2018-09-05 19:07] PabloKowalczyk commented on #135
You are right, output could be more "verbose". Would you like to provide a PR for this issue?

[2018-09-05 19:13] esetnik commented on #135
I did some debugging and I found that I actually get the correct output when I have:

// php.ini
[code]

So it seems that crunz logs an empty error if there is a `PHP Fatal Error`  and `log_errors = On` is not set. Maybe crunz can install a custom error handler and log to monolog regardless of the `log_errors` setting. In my opinion, crunz should never log an empty error message.

[2018-09-06 13:51] PabloKowalczyk commented on #134
This is the same case as here: https://github.com/lavary/crunz/issues/124
Crunz run all tasks as child processes so there is no way to share global functions without using any kind of autoloader (or `require`). Does it solve issue?

[2018-09-06 14:12] esetnik commented on #134
This issue is not #124 rather another example of #135. I understand that global functions won’t work, but there should be error output if the user does try to erroneously use one. In #135 we addressed the reasons why error output is missing, so this can be closed as a duplicate.

[2018-09-06 14:12] #134 closed

[2018-09-06 14:13] esetnik commented on #134
Additionally it would be good to document the limitations of the closure. E.g. global functions and complex objects cannot be captured.

[2018-09-06 17:00] PabloKowalczyk commented on #135
@esetnik i improved error logging/displaying, could you test changes on https://github.com/PabloKowalczyk/crunz/tree/improve-error-logging ?

[2018-09-17 15:29] esetnik commented on #135
Hi @PabloKowalczyk thank you for your work. I have not had an opportunity to test the changes yet, but I reviewed the commit and it makes sense to me. The only thing that's questionable is the formatting of the error output with `<error>` tags. I will leave it up to you how you want it to present, but in my opinion it's a bit strange to have tags in logs.

[2018-09-21 10:47] PabloKowalczyk commented on #135
Mentioned `<error>` is used only for `display` and it is not a problem because Symfony's formatter will turn it into white text with red background, only on supported terminals.
Logs always have "raw" content, without any tags.

[2018-09-22 07:31] PabloKowalczyk commented on #135
Merged and released in https://github.com/lavary/crunz/releases/tag/v1.10.0. Thanks @esetnik.

[2018-09-25 17:17] sticcino opened #143 "change directory"
what is this relative to ? (root app dir, vendor/bin, tasks ?)

everything i'm trying is failing

crunz.ERROR: test query execution engine on linux server(cd ...)

[2018-09-25 17:56] sticcino commented on #143
cancel/close

didn't realize had to put the executable that the task needs to run.... added php before the script.

[2018-09-25 17:57] PabloKowalczyk commented on #143
Ok, no problem :)

[2018-09-25 17:57] #143 closed

[2018-10-02 13:13] jeremib opened #144 "Possible to create task without taskfile?"
**Description**
I want to store my tasks in my database so users can modify the schedule.  Is this possible?

[2018-10-02 14:30] guilhermeaiolfi commented on #144
I was thinking the exact same thing right now. What I thought was to have ONE task set to run every minute or more (depending on the frequency you want them to run). That task would be responsible to query the database. If there are actions registered in the database, run them using your own code.

The database schema would have just the command to run and its arguments.

[2018-10-02 17:49] PabloKowalczyk commented on #144
Hello guys.
@jeremib i think yes. Implementation is similar to described by @guilhermeaiolfi.
Here is my PoC code:
[code]

Just replace `$dbTasks` with DB query logic and work is done.

**Remember**: do not allow users to provide their own commands because this is security issue :)

[2018-10-03 02:49] ryleeferguson opened #145 "Cannot Open Crunz File in vendor/bin"
**Crunz version**: 1.10.1

**PHP version**: 7.1.9

**Operating system type and version**: CloudLinux Server release 6.10 (Vladimir Lyakhov)

**Description**
Possible issue with the symbolic link created in `vendor/bin/crunz`
After updating to this version I realised none of my scripts were running.
When attempting to run manually, using the `schedule:run` syntax, I received this error:
`Could not

[2018-10-03 16:42] PabloKowalczyk commented on #145
Hello,
it is very weird bug, i did some upgrades of Crunz lately and didn't experienced this problem.
To make sure that issue is related to Crunz not to Composer, could you delete all `vendor`s (`rm -rf vendor`) and reinstall dependencies (`composer install`)?

[2018-10-11 21:32] esetnik commented on #135
@PabloKowalczyk I actually found that after v1.10.0 with `log_errors = On` there is an empty output on an exception thrown. I had to revert to v1.9.0

[2018-10-13 04:12] esetnik opened #152 "Prevent Buffering Output"
**Description**
Is it possible to allow crunz to emit output as soon as it is generated by the task? I have a long running task which is executed by crunz and the output doesn't print to the log file until the entire job is complete. It'd be better to stream output instead of buffering.

[2018-10-13 08:45] PabloKowalczyk commented on #135
@esetnik did you mean `log_errors = On` in `php.ini`?

[2018-10-13 09:13] PabloKowalczyk commented on #152
Hello, yes it is possible - https://symfony.com/doc/2.7/components/process.html#getting-real-time-process-output. Would you like to provide a PR?

[2018-10-13 20:05] esetnik commented on #135
Yes that is correct

[2018-10-14 06:44] PabloKowalczyk commented on #135
I have this option enabled and everything working as expected. In your previous post, "empty output" mean empty cli console or empty file where Crunz stores error logs?

[2018-10-19 09:40] bitbybit opened #156 "schedule:run [Crunz\Exception\WrongTaskNumberException] Passed task number is not string."
**Crunz version**: 1.10.1, 1.10.0, 1.9.0, 1.8.0

**PHP version**: 7.1.20

**Operating system type and version**: Debian 9

**Description**
I can not run commands on crunz versions higher 1.7.3

[code]

**How to reproduce**
`/usr/bin/php vendor/bin/crunz schedule:run`

[2018-10-19 20:07] PabloKowalczyk commented on #156
Hello, could you also paste versions of other dependencies (command `composer show`)? I must admin for now i cannot reproduce this bug.

[2018-10-19 20:09] bitbybit commented on #156
Hi
Here it is
[code]

[2018-10-20 07:07] PabloKowalczyk commented on #135
@esetnik seems error displaying depends on `display_error`. i have created PR which enables displaying errors ,could you test that version https://github.com/PabloKowalczyk/crunz/tree/show-all-errors?

BTW could could you paste output of command `php -i | grep error`?

[2018-10-20 17:38] PabloKowalczyk commented on #125
Implemented in #153 and merged. Thanks @IkeLutra.

[2018-10-20 17:38] #125 closed

[2018-10-20 19:19] bitbybit commented on #156
[code]

[code]

[2018-10-21 19:04] bitbybit commented on #156
Sorry but what is a proper way to install it? I did `git clone git@github.com:PabloKowalczyk/crunz.git` and now i get
[code]

[2018-10-21 19:51] PabloKowalczyk commented on #156
Run `composer install` in the cloned directory or you can install patched version by Composer: https://getcomposer.org/doc/05-repositories.md#loading-a-package-from-a-vcs-repository.

[2018-10-22 11:33] bitbybit commented on #156
This version is working :+1:
[code]

[2018-10-22 17:19] PabloKowalczyk commented on #156
I will merge #158 after successful CI build, but there are some problems with Github's webhooks.

[2018-10-23 15:51] PabloKowalczyk commented on #156
#158 merged, thanks @bitbybit.

[2018-10-23 15:51] #156 closed

[2018-10-30 13:55] t-me opened #160 "Your requirements could not be resolved to an installable set of packages."
**Crunz version**: 1.10
**PHP version**: 7.1
**Description**
When i do a composer require lavary/crunz it tells me that "Your requirements could not be resolved to an installable set of packages."

**Possible Solution**
look if its compatible with nestbot/carbon 1.25

**Additional context**
Problem 1
    - lavary/crunz v1.10.1 requires nesbot/carbon ^1.21 -> satisfiable by nesbot/carbon[1.21.0, 1.

[2018-10-30 13:55] t-me commented on #160
{
    "require": {
        "tracy/tracy": "^2.5",
        "nesbot/carbon": "^2.5",
        "mailgun/mailgun-php": "^2.6",
        "php-http/curl-client": "^1.7",
        "guzzlehttp/psr7": "^1.4",
        "guzzlehttp/guzzle": "^6.3"
    }
}

[2018-10-30 14:42] PabloKowalczyk commented on #160
Hello, upcoming `1.11` release will not depend on `nestbot/carbon` anymore. As a temporary fix you can use beta release `v1.11.0-beta.1` which do not depend on `nestbot/carbon`.
Command: `composer  require lavary/crunz:v1.11.0-beta.1`.

[2018-11-06 09:12] kinoute opened #161 "Crunz doesn't provide error log when emailing"
**Crunz version**: 1.10.1

**PHP version**: 7.2.11

**Operating system type and version**:
Ubuntu 16.04

**Description**
It appeared recently. I don't get any error message by email when my script generates one. I do get an email with the first line in the body describing the job and its description, but afterwards there is nothing. I tried to run my script directly and it provides a fatal error,

[2018-11-06 09:16] kinoute commented on #161
Ah, I can see that on Oct 14th, I could see error's description in my emails. But the next day, after updating my dependencies, I didn't get the error's description.

Here the update for crunz:

![capture d ecran 2018-11-06 a 10 15 27](https://user-images.githubusercontent.com/623763/48054179-ee186200-e1ac-11e8-9321-55e4d2e1151c.png)

[2018-11-07 21:11] PabloKowalczyk commented on #161
Hello @kinoute, interesting case.
Did you also update `PHP` runtime, `php.ini` especially? Maybe bug is related to `display_error` option - some time ago i have created https://github.com/PabloKowalczyk/crunz/tree/show-all-errors which enables displaying all errors, but if you run non-closure command by Crunz it will not work, but if You updated only Crunz then bug is 99,99% in Crunz.
Could you te

[2018-11-07 21:56] kinoute commented on #161
I did updated PHP on my server but it was minor updates (like 7.2.8 > 7.2.9) and IIRC, for minor updates, php.ini remains untouched for minor updates? At least I only got a message about my php.ini being edited/updates with "major" updates, like 7.1 to 7.2, which I did months ago.

I tried on my Mac (10.11.6, PHP 7.2.8) both versions, Crunz 1.7.3 & Crunz 1.10.1, with a little script/repo and both

[2018-11-08 17:42] PabloKowalczyk commented on #161
So, it seems that it is bug in Crunz itself. I have done some digging and found out that PR #137 was meant to fix issues with output from `stderr`, but, as we can see, it fails.
I have created small patch - https://github.com/PabloKowalczyk/crunz/tree/fix-command-output could you test it? In this version whole output from `Event` is catched and then used for log/mail/display, i hope it fix the iss

[2018-11-08 18:45] kinoute commented on #161
How can I use this patch with composer? Sorry, I'm bad when it comes to custom repo/fork etc.

[2018-11-08 18:47] PabloKowalczyk commented on #161
This should help: https://getcomposer.org/doc/05-repositories.md#loading-a-package-from-a-vcs-repository.

[2018-11-08 19:06] kinoute commented on #161
It works on my server. As soon as changed composer to use 1.10.1, I don't get the error (in my terminal after running schedule:run, and in the email, no error).

[2018-11-08 19:34] PabloKowalczyk commented on #161
So, patched version works as expected and fixes your issue?

[2018-11-08 19:35] kinoute commented on #161
Yes.

[2018-11-08 19:38] PabloKowalczyk commented on #161
Great, i will make PR and merge it later. Thanks @kinoute.

[2018-11-10 10:55] PabloKowalczyk commented on #135
@esetnik you should see https://github.com/lavary/crunz/issues/161, seems related. If you still have issues feel free to open new issue.

[2018-11-11 19:42] esetnik commented on #135
@PabloKowalczyk thanks for the update and continued hard work. When the update becomes stable I will test the changes and let . you know if it resolves things.

[2018-11-15 17:36] PabloKowalczyk opened #169 "Calling `preventOverlapping` without LockFactory results in BadMethodCallException"
**Crunz version**: v1.11.0-beta.2

**PHP version**: 5.6.37

**Operating system type and version**: Ubuntu 16.04

**Description**
Crating task with empty LockFactory passed to `preventOverlapping()` results in `BadMethodCallException`.

[code]

**How to reproduce**
Use this task code:
[code]

[2018-12-16 15:35] PabloKowalczyk opened #172 "Symfony 4.2 deprecations"
**Crunz version**: 1.10.0

**PHP version**: 7.2

**Operating system type and version**: Ubuntu 16.04

**Description**

As Travis CI reports, there are two deprecations with Symfony 4.2:
First:
[code]

Second:
[code]

**How to reproduce**

Run `vendor/bin/phpunit` with Symfony 4.2

**Possible Solution**

Fix deprecations :)

**Additional context**

Travis job with failed builds: https://travis-ci.o

[2018-12-21 16:13] #169 closed

[2018-12-21 17:13] #172 closed

[2018-12-23 12:39] SadeghPM opened #175 "Incorrect timezone in output_log_file"
Crunz timezone in output_log_file is not depending on timezone that is used to calculate task run time.

[2018-12-23 12:55] PabloKowalczyk commented on #175
Hello, currently it uses PHP default timezone (or system default timezone) and this should be ok for users reading logs. Why you think that using timezone used to calculate task run time is better?

[2018-12-23 13:15] SadeghPM commented on #175
Hi @PabloKowalczyk
Because crunz logs my task related event. I set timezone for my tasks, and crunz uses this timezone to run task, thus any logs that related to this task, should be log in configured timezone.

[2018-12-23 14:52] PabloKowalczyk commented on #175
So, what about new switch in config file: `timezone_log_timestamps`? Default value will be `false`, to keep current behavior, but users can switch it to `true` to have behavior described in this issue.
WDYT?

[2018-12-23 15:19] SadeghPM commented on #175
I think current behavior with timezone option is strange and because timezone option is very important and not setting it is deprecated and will result in exception in 2.0 version, setting log file timezone by default on timezone option without any customization.

[2018-12-23 15:21] PabloKowalczyk commented on #175
`timezone_log_timestamps` switch is needed to provide BC layer, the default behavior can change only on new major version.

[2018-12-24 18:18] pridit opened #176 "Could not open input file: <project root>/crunz"
**Crunz version**:
v1.11.0-beta.1

**PHP version**:
7.2.5

**Operating system type and version**:
Ubuntu 18.04.1

**Description**
Since upgrading to this beta release, calling `crunz schedule:run` results in `Could not open input file: <project root>/crunz`

Intermittently, it may also throw `No task found! Please check your source path.` as well without any configuration change, but I have not be

[2018-12-25 06:38] PabloKowalczyk commented on #176
@pridit i need some details to reproduce, please provide paths relative to `<project root>`:
1. Location of config (`crunz.yml`) file
2. Value of `source` parameter in config file
3. Location of tasks directory
4. Location of `vendors` directory
5. Location of `crunz`

@kinoute Could you try to investigate this bug locally?

I think that this bug is caused by changes in https://github.com/lavary/c

[2018-12-25 15:04] kinoute commented on #176
The thing is, I can't reproduce it locally on My Mac. With an empty project, respecting the same project's tree and even importing my crunz.yml file, it works (with the beta or the rc1 version).

IIRC, I even tried on my server with an empty project and it was working as well, that's why I didn't report it, thinking my project was the problem.

[2018-12-25 15:58] kinoute commented on #176
Since @pridit said he wasn't able to reproduce the bug everytime, I made a loop to see if I could catch it:

![capture d ecran 2018-12-25 a 16 52 31](https://user-images.githubusercontent.com/623763/50424519-86ee6400-0865-11e9-9347-f2ca0fac6cda.png)

We can see that with the loop, I get the "No task error" every time. But running directly the script, It works. Could it be a problem about how sched

[2018-12-26 08:07] PabloKowalczyk commented on #176
I think the key here is **where**, after #146 all paths resolution is relative to `cwd` (current working directory). Could you paste what is the `cwd` in `for` loop?

About the second screenshot, try to do `* * * * * cd /Volumes/Storage/kinoute/Sites/crunz-error && vendor/bin/crunz schedulre:run`, if this works it means this bug is definitely related to paths resolution and PR #146.

[2018-12-26 08:54] kinoute commented on #176
`* * * * * cd /Volumes/Storage/kinoute/Sites/crunz-error && vendor/bin/crunz schedule:run` works.

Also:
![capture d ecran 2018-12-26 a 09 48 06](https://user-images.githubusercontent.com/623763/50439832-cfecf980-08f3-11e9-90bb-dae92c7f85e7.png)

[2018-12-26 09:34] PabloKowalczyk commented on #176
We have answer, thank @kinoute.

[2018-12-26 17:52] kinoute opened #177 "Crunz sends me an empty error email on every job"
**Crunz version**: 1.11.0-rc.1

**PHP version**: 7.3.0

**Operating system type and version**: Ubuntu 16.04.5

**Description**
Despite generating no error, Crunz emails me on every task ("reporting error for event..."). With  log_errors: true, we can confirm there is no error shown:

`[2018-12-26 17:45:07] crunz.ERROR: Results(cd xx; php xx.php)    [] []`

**How to reproduce**
Turn the email_error

[2018-12-26 18:06] PabloKowalczyk commented on #177
Interesting, that was fixed in https://github.com/lavary/crunz/issues/161. Is there a regression? Does it work on `v1.11.0-beta.2`?

[2018-12-26 18:09] kinoute commented on #177
Actually, when I reported #161, it was different. In #161, I wasn't getting an email on every task. I was getting correctly emails when my script generated one, but the email was empty (no description of the error).

Here, all my crunz tasks generate an error email, no matter if there is an error or not.

[2018-12-26 19:15] kinoute commented on #177
Since it logs every task as an error now in the error log file, I monitor it. I see on some of them a ` Segmentation fault (core dumped)` message, like:

`[2018-12-26 18:40:07] crunz.ERROR: New (cd new; php new.php)  Segmentation fault (core dumped)   [] []`

Don't know if that can help you... I updated to PHP 7.3.0 by the way.

[2018-12-27 10:37] PabloKowalczyk commented on #176
@pridit @kinoute colud you test that version https://github.com/PabloKowalczyk/crunz/tree/fix-missing-tasks-source? Remember about adding `-vvv` switch, should tell you more and could be useful in further debug/fixing.

[2018-12-27 10:39] kinoute commented on #177
I'm investigating the `Segmentation fault (core dumped)` issue, it could be related to mysql according to gdb. But even on tasks where there is no segfault, crunz still logs as if there was an error but it shows nothing.

Actually I was wrong, it doesn't say there is an (empty) error on every task, just a few. Every time they are launched. I removed the cronjob temporary, and run one of them manua

[2018-12-27 10:54] kinoute commented on #176
Is it helpful?

![capture d ecran 2018-12-27 a 11 53 16](https://user-images.githubusercontent.com/623763/50477770-12830480-09ce-11e9-8b1b-a8e37c655037.png)

[2018-12-27 11:33] PabloKowalczyk commented on #177
Maybe there are more info in PHP logs? What about your `display_error` setting?

You mean, Crunz should stop on failed task?

[2018-12-27 11:35] PabloKowalczyk commented on #176
It is :) Forgot about `tasks` in legacy paths.

[2018-12-27 11:41] kinoute commented on #177
I don't know what crunz should do exactly (or what it does in this case), but I thought that the `schedule:run` process not stopping after a failed task might tell you something about my problem.

On my crunz-project dumb project I made for for the other issue ("No task found"), if I make sure my script is going to throw an error, when I run `schedule:run -vvv`, it ends properly (I can type again

[2018-12-27 11:48] PabloKowalczyk commented on #177
Crunz runs all tasks in parallel and IMO there is no need to stop all tasks because one task fail. Actually it is better that all other tasks still can be executed even if one failed. So in production Crunz run all tasks and wait for the results.
If you want you can use something like `schedule:run --task 12` to run only specific task, numbers can be taken from output of `schedule:list`.

If you t

[2018-12-29 06:36] PabloKowalczyk commented on #176
@kinoute could test again after update, please?

[2018-12-29 13:00] kinoute commented on #176
No change :(

![capture d ecran 2018-12-29 a 13 58 31](https://user-images.githubusercontent.com/623763/50538597-fcae4480-0b71-11e9-9f11-a88463ae171e.png)

[2018-12-29 13:03] PabloKowalczyk commented on #176
Interesting, where are your tasks? In `/Volumes/Storage/kinoute/Sites/crunz-error/tasks`?

[2018-12-29 13:07] kinoute commented on #176
There are in `app/tasks`.

My project's tree is like this:

![capture d ecran 2018-12-29 a 14 06 09](https://user-images.githubusercontent.com/623763/50538669-071d0e00-0b73-11e9-8bef-51c3fd936ddb.png)

crunz.yml

![capture d ecran 2018-12-29 a 14 06 57](https://user-images.githubusercontent.com/623763/50538673-0e441c00-0b73-11e9-920b-8253e67e5f3b.png)

[2018-12-29 13:09] PabloKowalczyk commented on #176
So, i must also fallback `config.yml` resolution, thanks @kinoute!

[2018-12-30 19:56] kinoute commented on #177
It seems to be related to MySQL. First the segfault error core dump indicated that, secondly, even when I don't get a segfault, crunz reports an empty error when I play with MySQL (simple query/bind/execute stuff). It Might be related to the milli/macroseconds change in PHP 7.3.0 when dealing with datetime(6) or timestamp(6) column I'm not sure. I reported the bug here: https://bugs.php.net/bug.ph

[2018-12-30 20:02] PabloKowalczyk commented on #177
Crunz simply check if process was successful - https://github.com/lavary/crunz/blob/master/src/EventRunner.php#L168, under the hood is `symfony/process` lib, which, also, simply check is process return code was different than 0 - https://github.com/symfony/process/blob/master/Process.php#L768.
There is no magic, in Crunz or Symfony, your scripts simply ends with return code different than 0.

[2018-12-30 20:15] kinoute commented on #177
Yeah, apparently I'm getting "1" as a return code every time I bind parameters (even if the script goes well and does the job). I will investigate. Sorry for the inconvenience

[2018-12-30 20:15] #177 closed

[2018-12-30 20:16] PabloKowalczyk commented on #177
No problem :)

[2019-01-06 10:09] PabloKowalczyk opened #179 "Deprecation messages not shown"
**Crunz version**: 1.10.0

**PHP version**: 5.6

**Operating system type and version**: Alpine linux 3.8

**Description**
Deprecations triggered in `\Crunz\Configuration\ConfigurationParser` (probably in other classes too) are not handled by handler registered in `\Crunz\Application::registerDeprecationHandler`.

**How to reproduce**

Trigger deprecation in `\Crunz\Configuration\ConfigurationParse

[2019-01-06 13:33] PabloKowalczyk commented on #176
Another update pushed, could you test it @kinoute? Maybe @pridit  also have some time to test patch mentioned earlier?
In my tests it fallbacks as expected, if you confirm it also works for you it will be first step to stable `v1.11`.

[2019-01-06 13:38] kinoute commented on #176
![capture d ecran 2019-01-06 a 14 37 52](https://user-images.githubusercontent.com/623763/50736681-b2a40f00-11c0-11e9-923c-a01bcdfc24ea.png)

[2019-01-08 15:41] PabloKowalczyk commented on #176
Already pushed fixes, could retest please?

[2019-01-08 21:00] kinoute commented on #176
No more "no task found" error, but the task fails:

![capture d ecran 2019-01-08 a 21 59 24](https://user-images.githubusercontent.com/623763/50858495-d5851d80-1390-11e9-9958-3e41fda90a11.png)

![capture d ecran 2019-01-08 a 22 00 01](https://user-images.githubusercontent.com/623763/50858507-dcac2b80-1390-11e9-93da-3bd630c4aefb.png)

[2019-01-08 21:08] PabloKowalczyk commented on #176
Did that task work in `v1.10`?

[2019-01-08 21:10] kinoute commented on #176
the task is only `echo 'test';` 😃

[2019-01-08 21:11] PabloKowalczyk commented on #176
Your screenshot tells `cd app/game/test; php test.php` :)

[2019-01-08 21:14] kinoute commented on #176
It's because I use the `in()` functionality. Here is the task:

[code]

[2019-01-09 17:17] PabloKowalczyk commented on #176
Done some testing with similar task:
[code]
`v1.7.3`, `v1.10.1` and `v1.11-rc.1` completed with `success`, but only because `pwd` is global binary. `cd`ing always was `cwd`-relative and this behavior not changed in `v1.11`. Could you test some older versions to make sure `v1.11` not break something?

[2019-01-09 17:51] kinoute commented on #176
Same problem with v1.10.1. Do you want me to upload my test repo?

[2019-01-09 17:55] PabloKowalczyk commented on #176
No, it is not necessary. Bug seems solved to me, WDYT?

[2019-01-09 18:19] kinoute commented on #176
Really? I have still the problem here, even with your last commits on` fix-missing-tasks-source`.

Running vendor/bin/crunz schedule:run -vvv within the repo : works
Simulating the cron job call with /path/to/project/vendor/bin/crunz... makes the task fail.

https://gist.github.com/kinoute/2f1eec3c4908f17b63001aa29bc38795

[2019-01-09 19:55] PabloKowalczyk commented on #176
Simulating the cron job call with /path/to/project/vendor/bin/crunz... makes the task fail.

Isn't it the same behavior as on `v1.10.1`, `v1.7.3` or any other version? I have tested it and it fails on any earlier version, not only newest `v1.11`. The `->in()` call was always related to `cwd`. If you think that `->in()` should work it is other case which we can discuss in other issue, but it is not

[2019-01-10 06:32] PabloKowalczyk commented on #176
What version you use in production? Maybe I'm wrong and `->in()` is broken only in `v1.11` or maybe commands you use in production are globally and do not need changing `cwd`, so even if `cd` fail they can end successfully? Could you paste one of these commands?

[2019-01-10 08:58] kinoute commented on #176
I posted my test repo here: https://github.com/kinoute/crunz-error (used locally on PHP 7.3 by the way, using your latest fixes on your personal GitHub repo). That's the one who works from within the repo, but the task fails when getting called by the cronjob call /path/to/project etc.

To sum up my use of crunz, I've been using the same kind of tasks (all of them using `in()`) since you fixed the

[2019-01-15 18:22] PabloKowalczyk commented on #176
Glad to hear.
End-to-end needs some polishing but patch is almost ready, i would like to merge it in the next week.

[2019-01-20 16:31] PabloKowalczyk commented on #176
PR #181 merged into `v1.11.x`, thanks @pridit and @kinoute.

[2019-01-20 16:31] #176 closed

[2019-01-20 16:32] PabloKowalczyk commented on #175
PR #178 merged into `v1.12.x`. Thanks @SadeghPM.

[2019-01-20 16:32] #175 closed

[2019-01-24 15:58] kinoute opened #186 "Respect end of line in output logs?"
**Description**
At the moment, when logging outputs to a file, if the output of a task consists of many lines, they all appear on a single line in the output log file. Wouldn't it better for readability to respect the end of line when logging the output?

**Example**

test.php
[code]

output log:
`[2019-01-24 15:55:38] crunz.INFO: Test(cd app/game/test; php test.php)   Started task... Analyzing fi

[2019-01-24 16:37] PabloKowalczyk commented on #186
Hello, did you tried to set `log_allow_line_breaks: true` in your `crunz.yml`?

[2019-01-24 16:46] kinoute commented on #186
Oops, I didn't have this option in my `crunz.yml` file..  I guess I have been using crunz for a very long time and this option wasn't available back in the days. Works like a charm now, thank you!

[2019-01-24 16:46] #186 closed

[2019-01-24 21:08] esetnik commented on #135
@PabloKowalczyk just tested with 1.11 and it's still not working. It logs the `crunz.INFO` but the task output is missing. Here's a sample to reproduce:

command i'm running inside the container
[code]

src/jobs/TestTasks.php
[code]

src/jobs/set_env.sh
[code]

src/jobs/start.sh
[code]

src/jobs/crontab
[code]

Dockerfile
[code]

php -i (from inside container)
[code]

crunz.yml
[code]

[2019-01-24 21:33] esetnik commented on #135
For a quick test I also just mocked the scheduler and am getting the correct output:

[code]

[code]

note the *hi12* in the output.

[2019-01-25 16:04] esetnik commented on #135
Using the configuration I provided above and running your example I get the following output:

[code]

[2019-01-25 16:09] PabloKowalczyk commented on #135
Interesting, for some reason you enabled loggin to file `log_output: true`, but still redirect whole output to stdout `output_log_file: php://stdout`, why?

Below configuration works for me:
[code]

[2019-01-25 16:10] esetnik commented on #135
Because it is a docker container so I want the logs to go to the container logging and not to a file on the container filesystem.

[2019-01-25 16:13] PabloKowalczyk commented on #135
This is default behavior, there shouldn't be need to do tricks. Does it work with `log_output: false`?

[2019-01-25 16:17] esetnik commented on #135
So what I know is that there is definitely a change in the project which introduces this issue. The exact same example (identical container and configuration) I provided above works fine if I revert to v1.10.0 (or earlier) but doesn't work after upgrading to v1.11.0. Is there any relevant change to how log output is captured by the `crunz` scheduler between 1.10 and 1.11?

[2019-01-26 06:37] PabloKowalczyk commented on #135
On version `v1.11.0`, in docker container and with config
[code]
everything works for me as expected. Here is my output:
[code]
Could you create repository with code (including docker, Cron config, task, php config and all other configurations) to reproduce?

And to answer your questions:

Yes and no. Now whole output (`stdout` and `stderr`) of command is captured. Theoretically you should see mor

[2019-01-26 06:42] PabloKowalczyk commented on #121
No response for 6 six months, I'm closing this issue. If you still have this problem please open new issue.

[2019-01-26 06:42] #121 closed

[2019-01-26 06:45] PabloKowalczyk commented on #127
@SilverFoxA @cjeraldop seems that this issue is possible duplicate of https://github.com/lavary/crunz/issues/176, if version `v1.11.0` do not solve your problems feel free to open new issue.

[2019-01-26 06:45] #127 closed

[2019-01-26 06:47] PabloKowalczyk commented on #145
Possible duplicate of https://github.com/lavary/crunz/issues/176, fell free to open new issue if version `v1.11.0` do not solve your problems.

[2019-01-26 06:47] #145 closed

[2019-01-26 06:49] PabloKowalczyk commented on #160
`v1.11.0` is stable now and no longer depends on `nestbot/carbon`. If version `v1.11.0` doesn't solves your problem feel free to open new issue.

[2019-01-26 06:49] #160 closed

[2019-01-26 18:17] esetnik commented on #135
@PabloKowalczyk https://github.com/esetnik/crunz-output is a minimum reproducible example. Hopefully it can help us get to the bottom of what's going on. One thing I noticed is that my container is using `php:7.3-stretch` whereas yours is using php version 5.6.39.

[2019-01-27 08:01] PabloKowalczyk commented on #135
Finally found out what is going on, you are right, `v1.11.0` broke running closures - path to Crunz bin was wrong.
Fixed and added E2E test, could you try this version https://github.com/PabloKowalczyk/crunz/tree/fix-closure-run?

[2019-01-27 14:31] esetnik commented on #135
Confirmed fixed in `https://github.com/PabloKowalczyk/crunz/tree/fix-closure-run` although the project does not run on 5.6 only 7.1+. Do you want me to open a separate issue for this? It should be made note of in the documentation at least.

[2019-01-27 14:35] PabloKowalczyk commented on #135
Crunz is 100% compatible with PHP 5.6 - https://travis-ci.org/lavary/crunz/jobs/484720655.
When you downgrade Symfony version you need to clear Crunz cache at `/tmp/.crunz`.

[2019-01-27 14:47] esetnik commented on #135
Actually you are right about that. I was accidentally installing the project dependencies using 7.3 and then trying to use them in the 5.6 docker context. So this can be closed once your branch is merged.

[2019-01-27 17:12] PabloKowalczyk commented on #135
Patch merged and released as `v1.11.1`. Thanks @esetnik.

[2019-01-27 17:12] #135 closed

[2019-02-01 15:12] mvachette opened #192 "Custom location for config file"
**Description**
I need to be able to give the path to config file at runtime, because I want to store configuration in a global config folder for  my app, and not at projet root.

**Example**
I found this old issue about the same subject, https://github.com/lavary/crunz/issues/30, but the feature seems to be not implemented.

Is this feature cancelled, or delayed to a future version ?

[2019-02-04 16:18] PauloGraca opened #193 "QUESTION: Can we re-run the task "onFailure"?"
First of all, thank you so much for this really handy scheduling tool!

I'm wondering if it is possible to re-run a task that fails, let's say after X minutes?

Cheers!

[2019-02-05 05:49] PabloKowalczyk commented on #193
Hello, thank you. Currently there is no support for "re-run a task that fails", no one asks for it :)
What is your use case? Maybe running task more often with `preventOverlapping` will help?

[2019-02-06 18:43] SCSolutions commented on #121
Hi, i am getting the same issue after updating crunz here is the complete error message:

Fatal error: Default value for parameters with a class type hint can only be NULL in /var/www/vhosts/***/httpdocs/vendor/symfony/console/Application.php on line 85

How can i fix this?

[2019-02-06 18:44] pwsebbi commented on #121
Hi, i am getting the same issue after updating crunz here is the complete error message:

Fatal error: Default value for parameters with a class type hint can only be NULL in /var/www/vhosts/***/httpdocs/vendor/symfony/console/Application.php on line 85

How can i fix this?

[2019-02-07 18:48] PabloKowalczyk commented on #121
Hello @pwsebbi, could you open new issue and provide repository with code to reproduce?

[2019-02-07 19:09] pwsebbi commented on #121
the issue was not with crunz, i found it. it was because on CLI level i was still running php5 which does not allow allow string as default values for typehints, hence produced the error above. Thanks

[2019-02-12 09:21] jamminjames opened #195 "Symlink apparentley not created during install. Now what?"
**Crunz version**: ^1.11

**PHP version**: 7.2

**Operating system type and version**: CentOS 7.2 with Nginx 1.9.15

**Description**
I ran composer require lavary/crunz, and it was added to the composer.json file, and the files installed in /vendor just fine.

I added the cronjob on the server:` * * * * * cd /var/www/subs.humortimes && vendor/bin/crunz schedule:run`

Under Installation it says: "I

[2019-02-12 10:01] jamminjames commented on #195
Okay, I just tried running `composer require lavary/crunz` again, and now the symlink appears to be okay.

Then, I had to add `require_once __DIR__.'/../vendor/autoload.php';` at the top of the file, which while I should have known, it would be a good reminder to put that in the install instructions. I had to add the '/../' at the beginning since the Task.php file is in a subfolder (tasks).

I'm n

[2019-02-12 11:01] jamminjames commented on #195
I'd like to log errors to try and figure this out, but running `/vendor/bin/crunz publish:config` from the project root gives a 'no such file or directory' error.

Another problem is I am getting an error saying that this is not getting to the correct file:
`$schedule->run('../SubsPgsPHP/cron_pendingcount.php')`
...but /SubsPgsPHP is a parallel folder to /tasks, so I would think this would be corr

[2019-02-12 12:29] PabloKowalczyk commented on #195
Hello, Crunz is a CLI tool and it was never meant to be used from browser.
If you use Crunz by its "front controller" (binary file) it loads your project autoloader and there is no need to do it in every task.
Could you run `/vendor/bin/crunz publish:config -vvv` and paste the output of this command?

[2019-02-12 21:29] jamminjames commented on #195
Yes, I realize it's not supposed to be run from the browser, however, I was not getting any feedback via logs, etc, so I did it to see if there were any php errors. It did help me figure out I had to add `require_once __DIR__.'/../vendor/autoload.php';`

The result of the command is "No such file or directory". I ran it from the project root, and /vendor/bin is definitely there, and when I check i

[2019-02-12 21:46] jamminjames commented on #195
Ok, error log says `sh: ../SubsPgsPHP/cron_pendingcount.php: No such file or directory`
But as I said earlier, that should be the correct path, since it's a parallel directory to the one Tasks.php is running from, yes? Should I give the path all the way from the server root?

[2019-02-12 21:59] jamminjames commented on #195
Okay, I changed it to just `SubsPgsPHP/cron_pendingcount.php`, as if it's running from the source directory, and that seemed to work. I'm surprised it would accept that as the path.

Anyway, new problem, it doesn't seem to be reading the php file as a php file, I am getting this error:

`[2019-02-12 21:52:01] crunz.ERROR: Continue emails daily until done, limited in number by renewalemail.php.(Sub

[2019-02-12 22:10] jamminjames commented on #195
Ahhh, NOW I get it... didn't notice you had to put the path of the php binary in there. Got it working now. Thanks!!!

[2019-02-12 23:20] #195 closed

[2019-02-12 23:40] jamminjames opened #196 "Questions: Do tasks all need to be named "$schedule" and how to list more than one? And more Qs."
**Crunz version**: 1.11.1

**PHP version**: 7.2

**Operating system type and version**: nginx on Centos 7

**Description**
It seems only one "new $schedule" will run, it doesn't seem to be looking past the first one. How do I list more than one in a single Task.php file? Do they need to be named differently, ie, not all $schedule?

When I put `return $schedule;` only at the end of the file, instea

[2019-02-13 01:11] jamminjames commented on #196
Okay, got it. `$schedule = new Schedule();` only goes at the very top of the Tasks.php file, and `return $schedule;` only at the end of the file. Now all the jobs are running.

It would be good to make that clear in the install instructions, for less experienced folk like me. Thank you!

[2019-02-13 02:57] jamminjames opened #197 "Passing variables to function"
**Crunz version**: 1.11.1

**PHP version**: 7.2

**Operating system type and version**: nginx on Centos 7

**Description**
Sorry for my learning curve here, with this being the third issue I've posted. Thanks for helping me figure it out.

Now my problem is how to pass a variable into the `->when(function()` to test against, and see if I want the cron to run.

I've accessed my db at the top of the

[2019-02-13 14:17] jamminjames commented on #197
Update: Managed to get it working by moving the whole db block into the function, but it seems like doing something like this should work:
`->when(function() use ($lastrenewid) {`
... but I tried that and it didn't work. Is there any way to get that to work? An argument inside `function($arg)` perhaps?

It would be cleaner to keep the db query outside the function, so it could be used in other tas

[2019-02-13 22:44] jamminjames commented on #197
Update: GOT IT! All I had to do was move the db block inside of the `$schedule = new Schedule();` line. Now `->when(function() use ($lastrenewid) {` successfully brings in the variable. It seems the closure can only get the variable from the parent function, not outside of that. Awesome!

[2019-02-13 22:44] #197 closed

[2019-02-13 23:39] jamminjames opened #198 "Can't get cron() to work correctly"
**Crunz version**: 1.11.1

**PHP version**: 7.2

**Operating system type and version**: nginx

**Description**
Can't get `->cron()` to work. I used `->cron('16 15 13 * *')`, which should have fired at 3:16pm today (13th), but didn't. I tried it several times, at different times, setting it a few minutes ahead. I know the server has the correct time.

**How to reproduce**
I have a very similar task

[2019-02-14 06:07] PabloKowalczyk commented on #196
Hello, it is a good tip to inform user about files which do not return `Schedule` instance, i will implement it later.

[2019-02-14 06:11] PabloKowalczyk commented on #197
Hello, there was similar case about passing variables to closures - https://github.com/lavary/crunz/issues/124.
Maybe it will be a better option to put DB logic in command not in task definition, but, of course, it depends :)

[2019-02-14 07:52] jamminjames commented on #197
Well, if you want to use the variables in more than one task, it's best to do it the way I described, I think.

[2019-02-14 07:59] jamminjames commented on #198
Yes, it is set correctly, to UTC - 8h, which is US Pacific Time. Could it be that it is taking the server's time and adding 8 hours to that?

[2019-02-14 08:12] jamminjames commented on #198
Yup, that's it! Just tested it, and used a time 8 hours in advance, and it triggered it. So, I should set the UTC to 0.

[2019-02-14 08:27] PabloKowalczyk commented on #198
Could you paste content of your `crunz.yml`?

[2019-02-14 08:38] jamminjames commented on #198
All of it? Here it is, minus the commented out lines:

source: tasks
suffix: Tasks.php
timezone: UTC - 0h
log_errors: true
errors_log_file: /var/www/subs.humortimes/log/cron_errors.log
log_output: false
output_log_file: ~
log_allow_line_breaks: false
email_output: false
email_errors: false
mailer:
    # Possible values: smtp, mail, and sendmail
    transport: smtp
    recipients:
    sender_name:

[2019-02-14 08:41] PabloKowalczyk commented on #198
Could you run Crunz with `-vvv` and paste the result?
IMO `timezone: UTC - 0h` is wrong value and Crunz ignores it, valid values for `timezone` are there https://secure.php.net/manual/en/timezones.php.

[2019-02-14 08:46] jamminjames commented on #198
So, I should have it set like this?
timezone: America/Los_Angeles

[2019-02-14 08:48] PabloKowalczyk commented on #198
Exactly. Again: could you run Crunz with `-vvv` and paste the result?

[2019-02-14 08:51] jamminjames commented on #198
You mean run this?
/vendor/bin/crunz publish:config -vvv

[2019-02-14 10:41] PabloKowalczyk commented on #198
I mean `vendor/bin/crunz schedule:run -vvv` - this should show which timezone was used.

[2019-02-17 09:40] PabloKowalczyk commented on #196
Implemented and merged to `v1.12`, thanks @jamminjames for tip.

[2019-02-17 09:40] #196 closed

[2019-02-19 04:51] #198 closed

[2019-02-19 04:55] jamminjames opened #200 "Way to check when one job ran, make sure other job doesn't run before x time has passed"
**Description**

Don't know if there's a way to do this already or not, but I'd like to be able to check when one job ran before running a different one, and see if x amount of time has passed. Is this possible?

**Example**

[2019-02-19 05:20] jamminjames opened #201 "Complete list of Dynamic Methods?"
**Description**

Is there a complete list of Dynamic Methods somewhere? Is the following possible, for example?

[code]

... to run every other Monday at 1:30pm?

**Example**

[2019-02-20 07:03] PabloKowalczyk commented on #200
Hello, currently it is not possible. It could be implemented to Crunz core, but it is beyond Crunz primary purpose. IMO it will be much better when you imeplement this logic in your own class/script/bin/whatever than rely on some 3rd party package.

[2019-02-20 07:31] PabloKowalczyk commented on #201
Hello, there is no complete list of dynamic methods on Event class. `everyTwoWeeks` is not acceptable. You can use everything that match this pattern `/^every([A-Z][a-zA-Z]+)?(Minute|Hour|Day|Month)s?$/`.

[2019-02-22 21:58] jamminjames commented on #201
Okay, thanks.

[2019-02-23 03:03] jamminjames commented on #200
Okay, thanks.

[2019-02-23 03:03] #200 closed

[2019-02-23 07:18] PabloKowalczyk commented on #201
It will work and produce CRON exerpssion like this `0 0 */14 * *` - which means "At 00:00 on every 14th day-of-month.". Please note "**14th day-of-month**" is not "every 14 days". It may fit or may not, it depends on your needs.

[2019-02-24 05:50] jamminjames commented on #201
That dynamic method is from an example given somewhere I saw. So why is it worded that way? Sure sounds like it will trigger every 14 days.

[2019-02-24 06:26] jamminjames commented on #201
That dynamic method is from an example given somewhere I saw. So why is it worded that way? Sure makes it sound like it will trigger every 14 days.

[2019-02-24 07:57] PabloKowalczyk commented on #201
I don't know why it is worded that way, but it definitely need to change to better inline with CRON.
Maybe i will deprecate it even in v1.12, otherwise in v2.0.

Correct.

[2019-02-24 21:54] jamminjames commented on #201
Well, might be better to just explain that fact in your directions, rather than deprecate it. Thanks for your help, and your great program!

[2019-02-24 21:54] #201 closed

[2019-03-01 13:05] fluchi opened #205 "Task Life Time"
**Crunz version**: v1.11.1

**PHP version**: 7.1.18

**Operating system type and version**: Ubuntu - 17.10.1

**Description**
Documentation says that we can specify tasks life time using either **from-to** or **between** methods.
After setting a task using this feature, I'm not quite sure that the process has a life time, based on the _list_ command.
Maybe, this is managed somehow within the libra

[2019-03-01 15:05] PabloKowalczyk commented on #205
Hello, as said in documentation:

This means that task lifetime is recognized on Crunz level, not Cron level. Cron expression `*/5 * * * *` is valid for this case. Did `between` doesn't work for you?

[2019-03-01 15:42] fluchi commented on #205
Hi @PabloKowalczyk ,

I actually hadn't tested `between` feature before open the issue, sorry about that.
I've just made a quick test and it works.

Thanks

[2019-03-01 15:42] #205 closed

[2019-03-01 15:43] PabloKowalczyk commented on #205
No problem :) Feel free to open new issue if `between` doesn't work for you.

[2019-03-13 17:11] MarkLittlewood opened #207 "Composer installs crunz executable to vendor/bin instead of symlink"
**Crunz version**: 1.11

**PHP version**: 7.1.17

Ubunto:

**Description**
Crunz executable was installed by composer directly into vendor/bin instead of a symlink.
The $autoloadPaths then tried to go up 2 levels to find autoload.php but failed because executable was only 1 level down.

**How to reproduce**
Not sure, local install of crunz created a symlink, install on server created executable

*

[2019-03-14 09:26] MarkLittlewood commented on #207
Further investigation, it is not composer that is causing the issue. The application is packaged up and it is that process which is converting the symlinks. The net result though is that the crunz executable is in vendor/bin rather than the symlink and so is failing to find autoload.php

[2019-03-14 09:43] PabloKowalczyk commented on #207
Hello, what you mean by "application is packaged up"?

Looks like another autoloader possible path `__DIR__  . '/../auotload.php'` should do the trick?

BTW I'm wondering why Composer choose to create hard copy instead of symlink, maybe your filesystem on server doesn't support symlinks?

[2019-03-14 11:11] MarkLittlewood commented on #207
Hi we use are using zs-client,  a feature of zend server for deployments which "packages up" the application and deploys it.

I think that the additional autoloader possible path should solve the issue.,

Thanks

[2019-03-14 11:28] PabloKowalczyk commented on #207
Everything is clear now.

Would you like to provide a PR for `1.11.x` branch?

[2019-03-14 12:11] MarkLittlewood commented on #207
Pr created. Thankyou

[2019-03-14 12:35] PabloKowalczyk commented on #207
Let's wait with "close" to PR merge.

[2019-03-15 09:19] MarkLittlewood commented on #207
I create a branch with the change, but when I try and push it I get:
remote: Permission to lavary/crunz.git denied to MarkLittlewood.

[2019-03-16 09:45] PabloKowalczyk commented on #207
Fixed in #209 (and in #210) and released in `v1.11.2`, thanks @MarkLittlewood.

[2019-03-16 09:45] #207 closed

[2019-03-20 16:31] DropdeadFredd opened #213 "QUESTION: Running Crunz in a Dockerized Environment"
Hi

We've added Crunz to an app built on the official Docker PHP:7.1-apache image. Crunz is there and I can call the command line and it works well but there's no crontab support in the PHP:7.1-apache container.

I've looked around online and it seems that the way to handle this it to have another container that runs a schedule or crontab and this container calls the required command in the App co

[2019-03-21 06:30] PabloKowalczyk commented on #213
Hello,

interesting question. I'm not a Docker expert, but when i add Crunz first time i just install Cron in `php-fpm` docker image and then use `supervisord` to run `php-fpm` and `crond`. It works but scaling this container can lead to issues, because not only `php-fpm` will be scaled but `crond` also.

If I would add Crunz to project again i would go this way, IMO this is the best way. No probl

[2019-03-25 07:56] DropdeadFredd commented on #213
Thanks for the response and suggestions, I've had to change focus for a while but I'll post my solution here when I get it up and running.

[2019-03-26 13:34] adsc-cloudtec opened #214 "Job priority/nice level"
**Description**
Introduce job priority (nice level) setting that controls the nice level the job is run at in operating systems that support this. Would be useful for running CPU intensive batch processing jobs in the background, without bogging the whole system down.

This is something that (as far as I know) is currently not possible with crunz, but is possible with regular cron (just add `nice

[2019-03-26 13:37] #214 closed

[2019-03-26 13:38] adsc-cloudtec commented on #214
Sorry, I just realised that you can do it the same way as in regular cron by just prepending the `nice <level>` fragment to the actual command line.

[2019-03-27 21:11] MyNameIsPedram opened #215 "Running Task On Windows"
Hello.

For Example, I have a file called Hello.php.

Hello.php Contents :
file_put_contents('some.txt','Hello');

Now, I Want To execution this file on eg: december 2020.

in the "Windows with Xampp", How Can i execution This Task ?

Thanks.

[2019-03-28 08:44] PabloKowalczyk commented on #215
Hello,

would you like to setup Crunz on Windows or just run some command once at given time?

[2019-03-28 12:06] MyNameIsPedram commented on #215
Yes, just run some command..

[2019-03-28 12:09] PabloKowalczyk commented on #215
So if i understand correctly you don't need Crunz?

[2019-03-28 12:16] MyNameIsPedram commented on #215
no deffrent, i just run task, see attachment. i want to know how to run this task on windows.
[Uploading cron.zip…]()

[2019-03-28 12:35] MyNameIsPedram commented on #215
look, i say transparent.

Here is my Code:

[code]

When the user submit the form, it takes 5 minutes for the shell to execute the command to complete the request.

Instead of waiting for this, I want to make the  shell operation Run 5 minutes later.

[2019-03-28 13:14] PabloKowalczyk commented on #215
I see now, you need async processing, something like RabbitMQ or even Redis' pub/sub should do the job.
IMO Crunz can't help you, it is design to run jobs periodically, just like Cron in Linux.

[2019-03-28 22:54] #215 closed

[2019-03-29 15:44] DropdeadFredd commented on #213
OK, so I found this project -> https://hub.docker.com/r/funkyfuture/deck-chores/ which when run will detect running Docker Containers and check their metadata for any deck-chore configuration and if found will run it. I like this solution because all the config is still contained within my project.

I added the following to my apps Dockerfile:
[code]
Built my image, ran it and the deck-chores imag

[2019-03-30 09:17] PabloKowalczyk commented on #213
Nice, interesting approach.

[2019-04-04 09:26] ozanhazer opened #216 "Ability to customize monolog"
It would be quite flexible if we could inject our own monolog instance or configure it somehow.

For example I'd prefer to use RotatingFileHandler to log the outputs and errors. The log files can get too large after some time and I'd prefer doing the rotation at the application level instead of configuring the logrotated in every server.

Also it would be easier to collect logs in a 3rd party serv

[2019-04-06 05:39] PabloKowalczyk commented on #216
Hello, i like your idea.
Passing configured Monolog instance per task can be useful in some cases but IMO it will be much better, for most users, to configure it once for all tasks.
Would you like to provide a PR for this?

[2019-04-08 04:27] downace opened #219 "Output information about failed task when log_errors is disabled"
**Description**

When task ends with non-zero exit code, its output is forwarded to console and there is no additional information. It would be nice to see at least `Crunz\Event::buildCommand()` result (like in log file when `log_errors: true`).

Or maybe its better just not to ignore the output of `errorCallbacks`, so developer can output anything they need there. Currently output is ignored (`ve

[2019-04-08 08:36] ozanhazer commented on #216
I would... I'm not sure how to do it through the yaml file though, any suggestions on that?

[2019-04-09 07:22] Feleys opened #220 "Execute schedule:run and nothing happen"
**Crunz version:** ^1.12

**PHP version:** 5.6.33

**Operating system type and version:** windows 10

**Description**

When I run schedule:run, scheduleTask.php file automatically open with editor and nothing happen.

 Did I miss something?

![1554794081381](https://user-images.githubusercontent.com/30944938/55780427-72fc0480-5ada-11e9-8517-157ca55e92be.jpg)

[2019-04-09 18:34] PabloKowalczyk commented on #216
You mean how to add new configuration options for Crunz?

[2019-04-09 18:40] PabloKowalczyk commented on #220
Hello, shouldn't there be PHP binary in front of command? For example: `C:\tools\php.exe C:\code\script.php --option=here`?

[2019-04-09 18:49] PabloKowalczyk commented on #219
Hello, could you run `crunz schedule:run -vvv`? Some useful information will be shown, but i don't know this will satisfy you?
Few versions ago i changed the way how `EventRunner` handles output from tasks, everything from `stdout` and `stderr` should go to console when `log_errors` is `false` - maybe you disabled displaying errors in your `php.ini`?

[2019-04-10 03:02] downace commented on #219
Hello!

I should have explained my use case. I use a separate script to capture errors which are not captured inside a task itself (e.g. memory limit exhaustion). This script considers any output from `crunz schedule:run` as error and reports it to issue tracker. Maybe it should capture only `stderr`, but `crunz` passes all output to `stdout`, so it's not possible to separate errors from normal ou

[2019-04-10 06:27] ozanhazer commented on #216
I think I can figure that out from the source code but I'm not sure how and where the consumer (the programmer using crunz) should define the instance.

Consider the following code from monolog's documentation:

[code]

How's crunz going to be aware of `$log`? What do I write to the config?

[code]

maybe and the `CrunzLogFactory` would have an `__invoke` method to build the instance.

[2019-04-10 09:12] Feleys commented on #220
You're right, I miss PHP binary.
Now I run "schedule:run" it can normal execute but only once not every minute
[code]

Thank you!

[2019-04-10 19:35] PabloKowalczyk commented on #216
I see now, sorry for misunderstanding. IMO Symfony done great job with `MonologBundle` (https://symfony.com/doc/current/logging.html#handlers-writing-logs-to-different-locations), maybe this can be a reference design?
Example config:
[code]
Under the hood some `MonologFactory` should read `type` from handler and init appropriate class - again, Symfony implementation can be a reference.
Of course t

[2019-04-10 19:44] PabloKowalczyk commented on #220
I see that you work on Windows so you must configure its `scheduler`, here is the first link i found on SO: https://stackoverflow.com/questions/4249542/run-a-task-every-x-minutes-with-windows-task-scheduler.

I would really appreciate PR with documentation about configuring `Crunz` on `Windows` using its `Scheduler` - would you provide it? :)

[2019-04-10 20:05] PabloKowalczyk commented on #219
Symfony shows full stack traces even without XDebug so it is doable.

With below config `Crunz` will write output to `stderr`, but only on error:
[code]
Does it help?

[2019-04-11 08:04] downace commented on #219
..but not for non-capturable errors, like memory exhaustion. This is the main problem, all capturable errors are captured and reported inside script itself.

<details>
<summary>Test</summary>

[code]

`tasks/AllTasks.php`:

[code]

`script.php`:

[code]

`vendor/bin/crunz schedule:run`

[code]

`vendor/bin/crunz schedule:run -vvv`:

[code]

</details>

This works, thanks! The error now looks like

[2019-04-11 08:32] PabloKowalczyk commented on #219
IMO it is not hack, you just configure `Crunz` (`Monolog` actually) to write to `stderr` on error and it is completely valid from `Monolog` and `Crunz` point of view.

Thanks @downace.

[2019-04-11 08:32] #219 closed

[2019-04-29 17:26] rrushton opened #228 "Tasks Subdirectories"
**Crunz version**: 1.12.0
**PHP version**: 7.1.25

In crunz.yml I have set the source: src/tasks
In my src/tasks directory if I place a file name TestTasks.php and run schedule:list it shows the item but if I create a subdirectory called Test and place TestTasks.php in there schedule:list shows no tasks.

I see in the readme it states "Since Crunz scans the tasks directory recursively..." so I ass

[2019-04-30 06:33] PabloKowalczyk commented on #228
Hello,
yes, it should scan sub directories. Probably i removed recursive scan by accident, it is a bug and i will fix it in `v1.12` branch.

[2019-04-30 08:18] PabloKowalczyk commented on #228
@rrushton could you test that patch https://github.com/PabloKowalczyk/crunz/tree/fix-recursive-tasks-scan?

[2019-04-30 10:24] SCSolutions commented on #121
Hi Sebbi,
wann haben wir einen RC für Partnerweb?

Bilal Stephens
Entrepreneur & Marketing Brain
+41(0)76 680 09 00

Swissconcept Solutions GmbH
Müllackerstrasse 10
8152 Opfikon
Switzerland
www.swissconcept.com

If you have received this email by mistake, please report this to us immediately. Reproduction or otherwise illegal use is not permitted.

 please don't print this e-mail unless it's neces

[2019-04-30 15:47] rrushton commented on #228
@PabloKowalczyk running schedule:list now shows the Tasks file in the sub directory. Thanks for looking into this so quickly.

[2019-05-01 07:33] PabloKowalczyk commented on #228
Fixed in #229 and released as `v1.12.1`, thanks @rrushton.

[2019-05-01 07:33] #228 closed

[2019-05-21 10:14] mvachette commented on #216
I agree with the "global configuration" argument, but the "per task configuration" weems interesting too: the typical use case that I will soon develop, is to add some "re-run" feature to a task (that will add a "run one time task", and in this case, beeing able to get some more versbose log will be very precious.

[2019-06-05 07:00] PabloKowalczyk commented on #144
I'm closing this issue because there are no activity, feel free to open new one if you need.

[2019-06-05 07:00] #144 closed

[2019-06-12 10:33] halukpp opened #234 "Question: Which locking mechanism should be the preferred one?"
Would you suggest using the default file based locking or symfony/lock as best practice?

[2019-06-12 11:35] PabloKowalczyk commented on #234
Hello, default lock store for current (stable, v1.12.x and v2.x) versions of Crunz is `\Symfony\Component\Lock\Store\FlockStore`, so under the hood it is always `symfony/lock`, old Crunz's locking was removed.
IMO you could use file/sempahore locking if you run only one Crunz instance, but if you have multiple instances you should use one of distributed ("remote" - PDO/MongoDB/Redis/etc.) store to

[2019-06-12 15:36] halukpp commented on #234
This is good information.

We are currently using v1.11.*
On one server we are managing about 200+ cron tasks using Crunz.

Recently we had some issues with locking but couldn't really find the root cause.
Now we are checking daily to see if the lock problem repeats itself.

In the meantime probably we'll switch to 1.12.x and keep this information in mind.

Appreciate the time you took for this me

[2019-06-12 15:36] #234 closed

[2019-06-13 17:47] PabloKowalczyk commented on #234
I have checked again source of `v1.11` and it should behave like `v1.12`. Maybe there is a bug in Crunz or Symfony's lock component. Please upgrade your Crunz to `v1.12` first and if bug still exist please open new issue, i will try to help.

[2019-06-27 11:52] kaerer opened #238 "Beside using single php files, this lib need to have sqlite or mysql entegration"
**Description**

**Example**

[2019-06-27 12:00] kaerer commented on #144
You just dont need to query on every minute, just on change in table; update a cache like memcache or etc

[2019-07-01 16:28] fluchi commented on #238
Hi @kaerer ,

I see your point about storing rules.
If I got it right, I've done it saving on both a yaml file and database.

I've used a yaml file to storage the system rules and from the database I got info about when something must run.
In other words, I generate and return a task on the fly, then it'll run on the appropriate time based on my db rules.

Hope that makes sense for you.

cheers

[2019-07-02 13:33] PabloKowalczyk commented on #238
Hello guys,
@kaerer if i understand correctly, would you like to change tasks' "backend" from files to SQL database?

[2019-07-16 16:18] abrenoch commented on #56
I want to bump this - I think this would be a fantastic addition. Maybe we could make the 'next run' column configurable to optionally display a unix timestamp or something instead?

I would love to be able to list out my crunz tasks and provide the next expected run time.

[2019-07-16 16:21] PabloKowalczyk commented on #56
@abrenoch what about adding new command, for example,  `crunz debug:task` which will show some basic information about task(s)?

[2019-07-16 16:24] abrenoch commented on #56
Dang that was quick! That sounds like a decent solution to me... If we could include the last run time of the task as well that would be great.

[2019-07-16 16:27] PabloKowalczyk commented on #56
There is no problem to calculate +/- n run times from cron expression. Would you like to provide a PR?

[2019-07-16 16:32] abrenoch commented on #56
I could probably put a PR together if no one else is interested, but it might take me awhile to get to it - got a lot of stuff on my plate right now. Was just thinking this would be a handy feature to have!

[2019-07-16 16:40] PabloKowalczyk commented on #56
Ok, i see. Maybe i will implement it, with very basic information about task.

[2019-08-05 08:34] mareksuscak opened #239 "Crunz uses a deprecated fork of a package"
**Description**

Crunz depends on the following library:
https://github.com/mtdowling/cron-expression

This is a fork of a different library which has been deprecated. We should consider pointing it to https://github.com/dragonmantank/cron-expression

[2019-08-05 09:10] PabloKowalczyk commented on #239
Hello, you are right `mtdowling/cron-expression` is deprecated and no longer maintained, but does this package harm your project/use-case in any way?

[2019-08-05 09:15] mareksuscak commented on #239
Nope. Nevertheless, it would be great if crunz (and any widely used package really) depended on supported packages only.

Moreover since the former is a fork of the latter, switching to the upstream should be easy for the APIs seem to be compatible.

What do you think?

[2019-08-05 09:26] PabloKowalczyk commented on #239
100% agree, i was just curious.

If libraries switch can be done without any BC break, it could go even for next minor version (`v2.1`), would you like to provide a PR?

[2019-08-05 09:29] mareksuscak commented on #239
Well just to give you a little bit of a backstory what motivated me to file this issue — we have a job that is supposed to run on 4th day, every month but it was started multiple times yesterday (which as it turned out was a bug in our schedule definition) but then this morning it was started again and I haven't been able to explain why. I'm not sure if this library has to do anything with that or

[2019-08-05 09:37] PabloKowalczyk commented on #239
So, maybe there are bug in Crunz itself? Could you reproduce behavior in clean repository?

[2019-08-05 09:41] mareksuscak commented on #239
So we had a conversation w/ the team and by looking at the email submission times, it seems that the job wasn't executed this morning as we initially thought but late at night yesterday (since our scheduler uses UTC timezone and if we adjust for the offset it would explain the situation). So it's not related to this issue. But this issue is relevant regardless in my opinion.

[2019-08-05 10:00] PabloKowalczyk commented on #239
Agreed, would you like to provide a PR?

[2019-08-05 10:01] mareksuscak commented on #239
@PabloKowalczyk yup. Will do.

[2019-08-10 06:59] PabloKowalczyk commented on #56
@abrenoch here (https://github.com/PabloKowalczyk/crunz/tree/add-debug-task-command) is a small PoC for `debug` command, use it by `crunz debug:task <taskNumber>`. Could you test it?
If you find it useful please add comment here.

[2019-08-19 09:18] PabloKowalczyk commented on #239
Fixed by #240.

[2019-08-19 09:18] #239 closed

[2019-08-22 14:28] IIPoliII opened #241 "QUESTION : Remove a task?"
Hello is it possible to remove a task easily?

[2019-08-23 15:01] PabloKowalczyk commented on #241
Hello, what you mean? Fastest way to delete task is to delete taks's file from disk :)

[2019-09-12 09:07] devudopw opened #242 "How to run/test specific task?"
I see the code has an option to run a specific task with these command
`vendor/bin/crunz schedule:run --task 1 --force`
But it seems not work?
I run the command, and all tasks executed.

[2019-09-13 13:24] abrenoch commented on #220
Hey @PabloKowalczyk, I would be glad to put some windows documentation together for you. I was thinking about exporting the XML of the task and the .bat file it executes to run crunz and including that, does that sound like something you would be interested in?

[2019-09-16 14:12] PabloKowalczyk commented on #242
Hello @devudopw, which versions of PHP, Crunz and OS are you using?

Could you paste your php file behind `#1` task?
Also what is result of `vendor/bin/crunz schedule:list`?

[2019-09-16 14:16] PabloKowalczyk commented on #56
You could add custom repositories in your `composer.json` file: https://getcomposer.org/doc/05-repositories.md#loading-a-package-from-a-vcs-repository - just use my repository and correct version name, as in composer's documentation, hope it helps :)

[2019-09-16 14:18] PabloKowalczyk commented on #241
@IIPoliII could you paste your solution here with a little description of your use case? IMO community will be thankful :)

[2019-09-16 14:22] PabloKowalczyk commented on #220
I must admit i don't know how to configure Windows' scheduler, but OFC provide those files if they don't go as files to repo they will be in readme, ready for copy-and-paste :)
Ideally, create a PR and we will go deeper on details.

[2019-09-16 14:27] PabloKowalczyk commented on #216
Would you like to provide a PR for this feature?

[2019-09-16 14:33] mvachette commented on #216
This subject is postponed for we for the moment.

I will consider working on a PR when I will work on it again

[2019-09-16 16:23] devudopw commented on #242
Hello @PabloKowalczyk

under PHP 7.3.8:

+---+--------------------------------+--------------+-----------------+
| # | Task                           | Expression   | Command to Run  |
+---+--------------------------------+--------------+-----------------+
| 1 | trigger update           | */30 * * * * | object(Closure) |
| 2 | trigger log | 0 0 * * *    | object(Closure) |
+---+-------------------

[2019-09-21 08:17] PabloKowalczyk commented on #242
Probably I have reproduce your issue, could tell what version of Crunz you are using?

[2019-09-21 08:45] devudopw commented on #242
I guess this is the version?
`vendor/bin/crunz -V`
Crunz Command Line Interface v2.0.1

[2019-09-21 08:52] PabloKowalczyk commented on #242
It is version, thanks. Actually i found out that `require`d task file overwrite `$task` variable in `\Crunz\Console\Command\ScheduleRunCommand` class. Interesting bug, thanks for your report :)
PR in progress, as a quick fix you can change `$task` to something else in your task files.

[2019-09-21 09:21] devudopw commented on #242
Glad that help.

[2019-09-23 14:22] PabloKowalczyk commented on #242
#243 was merged, thanks @devudopw.

[2019-09-23 14:22] #242 closed

[2019-09-27 06:37] hhuy0001 opened #246 "Default path/location of script"
**Crunz version**: 2.0

**PHP version**: 7.3.4

**Operating system type and version**: Windows 10 Enterprise 64-bit

**Description**
I'm confused about how to point my Task file to a script file.

**How to reproduce**
I have a NotificationTasks.php file located in the tasks folder, which is in the project root.

[code]

Notify.php is also located in the same folder.

When I try to test this by run

[2019-09-27 08:23] PabloKowalczyk commented on #246
Hello, it will be much better if you use absolute paths, like `__DIR__ . '/Notify.php'`, in you example: `$task = $schedule->run('/usr/bin/php' . __DIR__ . '/Notify.php');`

Crunz run each task as a separate process which `cwd` is the same like current `cwd` - I'm 99% sure, if you want i could debug it to make 100% sure. Another thing is `in()` method, it should work and is created to solve cases

[2019-09-28 09:37] hhuy0001 commented on #246
Okay that makes sense.

However, using `$task = $schedule->run('/usr/bin/php' . __DIR__ . '/Notify.php');` throws `The filename, directory name, or volume label syntax is incorrect.`

Alternatively, `$task->in(__DIR__)` throws `The system cannot find the path specified.`

I apologise if this is really basic, and I appreciate the help a lot!

[2019-09-28 09:40] PabloKowalczyk commented on #246
Looks like you forget space after `php` binary, should be: `run('/usr/bin/php ' . __DIR__ . '/Notify.php')`.

[2019-09-28 10:36] hhuy0001 commented on #246
That still throws `The system cannot find the path specified.`

[2019-09-28 10:37] PabloKowalczyk commented on #246
Could you create reproducer repository?

[2019-09-28 11:25] hhuy0001 commented on #246
Sorry I'm not sure how to best create a repro. Here is a screenshot of the file structure of my project though.
![phpstorm64_2019-09-28_21-22-54](https://user-images.githubusercontent.com/29011332/65815710-71fc9200-e236-11e9-8c8a-fbb1a2ecc8e1.png)

[2019-09-30 12:43] PabloKowalczyk commented on #246
So, I forget about one important thing - you are using Windows, so your PHP binary is definitely not `/usr/php/bin` :) Try this command: `PHP_BINARY . ' ' . __DIR__ . DIRECTORY_SEPARATOR . 'Notify.php'`.

[2019-10-02 09:31] nvloi opened #247 "Write log/error to database"
Hi
I begin using Crunz in Zend Framwork and I want to receive log/error and write it to database. Can you tell me if there is a way to do it?
Thanks

[2019-10-02 13:29] davidsneighbour opened #248 "Run multiple schedules per task file"
**Description**
It would be a nice feature to have multiple schedules enabled per Task file. The documentation does not imply this is possible now and the `return $schedule` at the end of a task file implies that too.

**Example**
I want to enable the setup of cronjobs in a database based system. Users would create tasks and set timing options. A file then would read the DB contents (runtimes, com

[2019-10-02 14:11] davidsneighbour opened #249 "Dynamic file names for error and event logs"
**Description**
It would be nice to be able to define dynamic filenames for error and cronjob logs like `cronjob-error-{$Ymd}.log`

Or, in extension to what might be needed to implement #247, it might be in general nice, to be able to add a generic error handler, so that we can add for instance a Monolog handler to receive everything Crunz outputs.

[2019-10-02 14:13] davidsneighbour commented on #249
I just saw #216 - that would solve this issue I think.

[2019-10-03 08:47] minhthienvt opened #250 "Can I get detail error in my callback function in onError"
Hi @PabloKowalczyk,
Thanks for your lib.
I also have question that I want to get detail error so i can insert the error into database. How can I do that?

Thanks

[2019-10-03 08:56] PabloKowalczyk commented on #247
Hello,
i think this can be easy after #216 is implemented, would you like to help or even provide a PR?

[2019-10-03 09:19] PabloKowalczyk commented on #248
Hi,
is this issue https://github.com/lavary/crunz/issues/144 similar to your case? Look at https://github.com/lavary/crunz/issues/144#issuecomment-426368228 as a reference.

[2019-10-03 09:20] PabloKowalczyk commented on #249
Would you like to provide a PR for #216?

[2019-10-03 09:21] PabloKowalczyk commented on #250
Hello,
did you try https://github.com/lavary/crunz#error-logging?

[2019-10-03 12:03] davidsneighbour commented on #249
I can have a look into it, but I might have additional questions. I'll let you know in a bit.

[2019-10-03 15:42] davidsneighbour commented on #248
This explanation solves my issue.

[2019-10-03 15:42] #248 closed

[2019-10-10 03:13] simmonspaul opened #254 "between --> Documentation / Functionailty example"
I think if the document had some further examples that it would assist other users.

I wanted to use the "between" option to have some of my jobs only run during certain times
->between('04:05', '04:15')

However I wanted this to be the same for each hour.
Effectively a range of times that my job would run each hour.
This would help organise competing tasks and assist in tuning performance.

I tri

[2019-10-10 05:46] PabloKowalczyk commented on #254
I believe you could achieve the same using plain cron expression `10-15 * * * *`, maybe would you like to extend documentation with your example? Would you provide a PR?

[2019-10-11 02:06] simmonspaul commented on #254
Pablo, You are right. That is the way that is would be achieved using a cron expression.
Instead of between(), it could also be better achieved using ->minute('10-15').

Nonetheless, I was trying to get my head around the documentation and this PR has attempted to reorder things slightly to allow the examples to build on themselves more. This is purely my point of view and others might disagree.

[2019-10-11 05:24] hhuy0001 commented on #246
Yes, that worked. Thank you for your help!

[2019-10-12 08:15] PabloKowalczyk commented on #254
Everything was fine :smile: PR  #255 was merged, thanks @simmonspaul.

[2019-10-12 08:15] #254 closed

[2019-10-12 08:38] PabloKowalczyk commented on #246
#256 was merged to suggest using `PHP_BINARY`, thanks @hhuy0001.

[2019-10-12 08:38] #246 closed

[2019-10-15 15:52] esetnik opened #257 "Monolog 2 Support"
https://github.com/lavary/crunz/issues/78

[2019-10-15 16:34] davidsneighbour commented on #257
It's a bit weird to open a new issue referencing just an old issue. You didn't even take the time to reference the most advanced issue on this. Have a look at https://github.com/lavary/crunz/issues/216

Feel free to open a pull request. It seems not too complicated to implement this if one has time and the right understanding of how Monolog needs to be added.

[2019-10-15 16:35] davidsneighbour commented on #257
https://github.com/lavary/crunz/issues/247 too is in this realm.

[2019-10-15 16:35] esetnik commented on #257
Sorry about that. In the previous issue I linked it was suggested that a new issue be opened once monolog 2 is released so that's what I did. I didn't think it warranted any further discussion, but that was my mistake.

[2019-10-15 16:37] davidsneighbour commented on #257
Not a mistake... Let's get this one rolling :) I think it will be a great addition. Someone "just" needs to start on it. I am not too sure if it could be me.

[2019-10-15 16:53] PabloKowalczyk commented on #257
Hello guys, actually i have idea to let users' configure logger, by allowing to specify `LoggerFactory` which will return PSR-3 instance, so any logger compatible with PSR-3 will be supported. I will create RFC soon and all the details will be discussed.

[2019-10-25 13:44] rahul9222 opened #258 "Not able to access dynamic Variable in the Scheduler when included from files"
**Crunz version**: v1.12.2

**PHP version**: 5.6 and 7.3.10

**Operating system type and version**: AWS EC2 instance (CentOS)

**Description**
Dynamic array value for the domain name is not accessible in PHP included file.

**How to reproduce**
We have a Constant file for global value. Named as **CONSTANT.php**
[code]

And in the Crunz Task file the above file is included.

[code]

Tried with **ph

[2019-10-26 04:33] PabloKowalczyk commented on #258
Hello, did you try to use absolute path, like `include_once(__DIR__ . DIRECTORY_SEPARATOR . 'CONSTANT.php');`?

[2019-10-26 05:05] PabloKowalczyk opened #259 "[RFC] LoggerFactoryInterface"
**Description**
To address some of last requests (#257, #249, #247 and #216) users should be able to provide logger instance used by Crunz, the idea is to let users use any PSR-3 compatible logger by returning it from configured `logger_factory`. This means new configuration option will be added to allow specifying `LoggerFactoryInterface`.
Example below shows simple file logging by Monolog but th

[2019-10-26 05:07] PabloKowalczyk commented on #257
RFC was created (https://github.com/lavary/crunz/issues/259), I encourage you to discuss :smile:

[2019-10-26 05:16] davidsneighbour commented on #259
Perfect. For my use case (#249) the perfect solution.

Question: (I don't need this but it might come up) Does this give this logger instance exclusively to Crunz or can it be shared with other scripts that are logging? I wonder if there are any implications if I, for instance, let `createLogger` return my global logging instance as a clone and then those two are blocking each other for instance i

[2019-10-27 07:29] PabloKowalczyk commented on #259
IMO it depends on implementation of logger itself, for 99% it is safe to share logger instance.

[2019-10-27 08:25] rahul9222 commented on #258
I tried by adding the absolute path, but it didn't work.

[2019-10-27 08:29] PabloKowalczyk commented on #258
Could you create repository with code to reproduce the issue?

[2019-10-27 10:24] rahul9222 commented on #258
Yes, creating a repository at https://github.com/rahul9222/crunzissue

Some point that I observed that the **include_once()** only work for the first task file and then it doesn't work for the next task file.
And give the error **Undefined variable: SITE_URL**

![Issue captured](https://user-images.githubusercontent.com/16019891/67633137-04459380-f8d2-11e9-9f51-96855232745e.PNG)

[2019-10-28 13:18] esetnik commented on #259
This looks great to me too. For my use-case it would be ideal if the logger instance could be made available to the closure itself. For example:

[code]

[2019-10-28 13:21] esetnik commented on #259
And it might be better if the logger name and details can be configured for each task rather than globally from a single `crunz.yml`. I currently run several tasks and I'd want to have separate logger names for each.

[2019-10-29 09:33] PabloKowalczyk commented on #259
It is a possible way to improve logging in the future, but now it is not in scope of this RFC.

IMO both options can, and should, coexist. For simple use cases users will just use global logging but for important/complex/etc use-case, special logger instance can be configured for just one task. This option deserves another RFC.

[2019-10-29 12:48] rahul9222 commented on #258
Not sure what was the issue but it fixed by changing the **include_once()** to **include()** in every Tasks.php files.

![image](https://user-images.githubusercontent.com/16019891/67768298-3d1f6d00-fa78-11e9-9495-8ab083750114.png)

[2019-10-29 13:38] PabloKowalczyk commented on #258
But, `include_once` works with Crunz `v1.4`?

[2019-10-29 13:39] rahul9222 commented on #258
Yes, it was working in the previous version

[2019-10-29 14:21] esetnik opened #260 "Long running closure blocks other tasks"
**Crunz version**: x.y.z
v2.0.2
**PHP version**: x.y.z
v7.3.11
**Operating system type and version**:
docker php:7.3-fpm
**Description**
Running a long running task in closure blocks other tasks from executing.

**How to reproduce**
LongRunningTasks.php
[code]

**Possible Solution**
The lavary implementation looks similar to the symphony process implementation for running processes asynchronously

[2019-10-29 16:24] PabloKowalczyk commented on #258
I found out what happening. In https://github.com/lavary/crunz/pull/243 I changed how tasks are loaded to avoid variable names registering/collisions/overriding (discovered in this issue: https://github.com/lavary/crunz/issues/242), so your code with `include_once` shouldn't work at all (sorry :smile:), but due to Crunz bug everything was working as expected, because variables from your include fi

[2019-10-29 16:34] PabloKowalczyk commented on #260
Did you mean, run long running task in one terminal, then try to run Crunz again with another terminal and other tasks from long running file will not be run?

[2019-10-29 17:34] PabloKowalczyk commented on #260
Sorry, I mean "is it a correct way to reproduce the issue?", but looks like it is.

[2019-10-30 07:47] rahul9222 commented on #258
Yes, it fixed after using the `include()` instead of `include_once()`.

Thanks

[2019-10-30 07:47] #258 closed

[2019-11-17 08:44] PabloKowalczyk commented on #260
Hey @esetnik, could you run Crunz with `-vvv` option?

[2019-11-17 15:19] PabloKowalczyk commented on #260
Interesting issue, seems that there were two errors (both fixed). First, as described in https://github.com/lavary/crunz/pull/264 version `v2.x` changes behavior of Closures' return value, so Closures from your example were failing and this leads to second bug, locks were not released on task's error (fixed in #261). Test  it with `v2.0.4` release.

Thanks @esetnik.

[2019-11-17 16:17] esetnik commented on #260
Thank you for taking the time to look into this issue for me. I will update you once I get a chance to test this out. The solution seems reasonable and explains the odd behavior I was seeing.

[2019-11-27 13:44] luckyraul opened #265 "Symfony 5 support"
**Description**

Symfony 5 support
**Example**

[2019-12-04 17:03] esetnik opened #267 "Symfony\Component\Process\Process::inheritEnvironmentVariables() method is deprecated since Symfony 4.4"
**Crunz version**: x.y.z
v2.0.3
**PHP version**: x.y.z
v7.3.12
**Operating system type and version**:
linux
**Description**
When running the job using Symphony v4.4 or greater a deprecation warning is logged to the console:
[code]

**How to reproduce**
Run any lavary/crunz job

**Possible Solution**
https://github.com/lavary/crunz/blob/master/src/Process/Process.php#L77
This check should be made m

[2019-12-04 17:06] esetnik commented on #267
@PabloKowalczyk I noticed this is also the cause of failing tests on master. See https://travis-ci.org/lavary/crunz/jobs/618324969#L342

[2019-12-04 17:31] PabloKowalczyk commented on #267
@esetnik Yes, i know it, but currently I don't have time to fix it. Deprecation free code is also needed before #265 fix. PR is very welcome.

[2019-12-08 07:14] PabloKowalczyk commented on #260
@esetnik what about this issue? Could it be closed?

[2019-12-08 14:14] PabloKowalczyk commented on #267
Fixed by https://github.com/lavary/crunz/pull/268

[2019-12-08 14:14] #267 closed

[2019-12-09 19:02] esetnik commented on #260
@PabloKowalczyk I apologize for the delay in getting back to you. This issue appears to be fixed now. Although it should be noted that a long running task which outputs to the console will eventually run out of memory due to #152 as far as I know.

[2019-12-12 06:27] PabloKowalczyk commented on #260
#152 is a different topic, as a quick fix you could suppress any output from your "long running task" - should help.

I'm closing this issue, thanks @esetnik.

[2019-12-12 06:27] #260 closed

[2019-12-12 20:12] abrenoch commented on #56
Hey sorry for taking forever to get back to this!

I do have the command working, but the output format is a little jumbled:
![image](https://user-images.githubusercontent.com/2146139/70745082-1a2bde00-1cf1-11ea-8bfb-0ece59d6c792.png)

Would it be at all possible to have a command similar to `schedule:list` that lists all tasks with the next run time? What I would like to make is an admin panel wi

[2019-12-13 03:36] macropin commented on #213
This project piqued my interest because we're looking at PHP job schedulers for a customer. This is my Friday afternoon opinion (as a Docker "expert"). Take it as you will...

Running cron, supervisord, and php-fpm in one image is an anti-pattern. Docker containers should do one thing, and do it well. Ideally the container runtime/scheduler/orchestration (eg docker swam, Kubernetes etal) is the pr

[2019-12-13 10:23] DropdeadFredd commented on #213
Thanks for your response @macropin, after allot of research and testing I'd pretty much come to conclusion that I couldn't use cron, deck-chores or crunz (I'm no where near a Docker expert).

I haven't found a good solution for PHP job schedulers in a containerised environment.  Do you mind me asking if you've had any luck or found anything worth looking at?

Cheers

[2019-12-14 07:31] PabloKowalczyk commented on #213
@DropdeadFredd after some time and some installations I think the best way to add Cron/Crunz is to create another container with Cron. Sample Dockerfile:

[code]

[2019-12-16 03:30] jamminjames opened #275 "Running a command on the server"
I am able to trigger php files with the scheduler, but am having trouble initiating a command on the server. I want to run a simple "fetchmail -vk" command, which should be able to run from anywhere on the server. To check, however, I ran the command from the same location the scheduler triggers the php files, that is, the home folder for the website on the server. So, running the "fetchmail -vk"

[2019-12-16 07:34] PabloKowalczyk commented on #275
Hello, according to this SO thread https://askubuntu.com/questions/23009/why-crontab-scripts-are-not-working `PATH` in cron context can be different, so using absolute path, like `$schedule->run('/some/lib/fetchmail -vk')`, should help.

[2019-12-16 18:29] jamminjames commented on #275
Thanks, Pablo, but that wasn't it. Turns out, only ` ->everyMinute() ` is working for an interval for this particular cron job. Very odd. Anything else I've tried in there just never triggers. I've tried all of these:  `->everyHour()   ->hourly()   ->hourlyAt('15')    ->everyTwoHours()`

Very strange. Anyone have an explanation for this? All my other cron jobs, in the same Tasks file, trigger php

[2019-12-17 10:32] PabloKowalczyk commented on #275
Interesting. What about passing Cron expression `0 * * * *` manually? Also you can run `schedule:run -vvv` to get some debug information and turn on output/error logging to see what was happen.

[2019-12-22 09:28] PabloKowalczyk commented on #265
Fixed by #274, thanks @luckyraul.

[2019-12-22 09:28] #265 closed

[2020-01-09 17:31] LeoYuan-Q opened #281 "Task specific onError callback?"
**Description**

Is it possible for there to be a way to set a task specific onError callback function? Right now, an onError function can be set but there's no way (afaik) to limit it to a single task like before() and after().

It would be nice if onError() can be used just like before() and after() callbacks.

**Example**

In addition to this:
[code]

It would be nice if this was supported :
[c

[2020-01-10 09:36] PabloKowalczyk commented on #281
Hello, actually it is possible internally to do this. I've implemented it as a part of  #261. IMO it should be easy to make `Event::addErrorCallback` public, it just need some unit tests.
Would you like to provide a PR?

[2020-01-16 03:35] engor opened #282 "Add checking "is format of expression valid""
Faced out problem when did mistake in weeklyOn() method, just forgot to specify $day param:
`->weeklyOn('11:25')`. Such call was converted to `0 0 * * 11:25` and it's invalid format.

And as a result all tasks after this didn't work at all! And there were no visible errors, it stop somewhere under the hood of cron (I guess).

Would be very useful to have auto-check of cron expression and trigger e

[2020-01-18 07:15] PabloKowalczyk commented on #282
Hello, all i can do now is to show deprecation notice in `v2.1` and throw exception in `v3.0` in case someone passes wrong Cron expression. WDYT?

[2020-02-12 03:23] jamminjames opened #284 "Stopped working, can't figure out why"
**Crunz version**: x.y.z
2.1.0
**PHP version**: x.y.z
7.3
**Operating system type and version**:
CentOS 7.2 with Nginx/1.17.5
**Description**

Nothing is happening with Task files.
**How to reproduce**

I'm working with a very simple test file now, detailed below. It should trigger an email with the current time, but nothing happens.

I've checked everything I can think of: file permissions, the c

[2020-02-12 22:47] jamminjames commented on #275
Sorry for not responding. Where would the results of running `schedule:run -vvv` show up? I have error logging on in crunz.yml, if that's it.

[2020-02-13 06:46] PabloKowalczyk commented on #275
In your terminal, did you run Crunz from CLI?

[2020-02-13 07:24] PabloKowalczyk commented on #284
Hello, could you show output from `vendor/bin/crunz schedule:run -vvv` command?

[2020-02-13 09:14] jamminjames commented on #284
Here you go:

Using config file /var/www/subs.humortimes/crunz.yml.
Task source path '/var/www/subs.humortimes/tasks'
Task finder suffix: 'Tasks.php'
Realpath for '/var/www/subs.humortimes/tasks' is '/var/www/subs.humortimes/tasks'
Found 1 task(s) at path '/var/www/subs.humortimes/tasks'
Start file.<br>Ran 3rd Schedule.<br>Timezone from config: 'America/Los_Angeles'.
Timezone for comparisons: 'Ame

[2020-02-13 09:42] jamminjames commented on #284
Well, now everything seems to be working again. It's as if the -vvv command woke it up! Strange.

[2020-02-13 09:57] jamminjames commented on #275
Okay, see my other thread for the schedule:run -vvv results. As for this "fetchmail -vk" task, in the error log (generated by crunz.yml), I get this every time:
`[2020-02-13 01:47:02] crunz.ERROR: fetchmail polls Omsoft email folder looking for remove requests, which uses removemail.php.(fetchmail -vk)    [] []`
I don't know what it means, since it's only quoting the description from that task. Wh

[2020-02-13 10:43] PabloKowalczyk commented on #284
It is weird, you should check your cron daemon logs for more information and removing ` >/dev/null 2>&1` will help with debugging.

[2020-02-13 10:43] #284 closed

[2020-02-13 10:48] PabloKowalczyk commented on #275
`crunz.ERROR` means that command `fetchmail -vk` returned non-zero exit code. You should make sure that command (`fetchmail -vk`) works without Crunz. Empty sets of brackets mean that monolog had empty context passed, nothing related to your command.

[2020-02-13 11:22] jamminjames commented on #275
It does work without Crunz.

[2020-02-13 14:29] PabloKowalczyk commented on #275
Please show result of `vendor/bin/crunz schedule:run -vvv --force`.

[2020-02-13 22:12] jamminjames commented on #275
[code]

[2020-02-14 10:58] PabloKowalczyk commented on #275
Could you paste PHP file with task definition?

[2020-02-14 11:54] jamminjames commented on #275
Here you go:
[code]

[2020-02-14 13:45] PabloKowalczyk commented on #275
Some hints to debug:
- enable logging output and errors in `crunz.yml`
- remove `sendOutputTo` line
- look which user run `fetchmail` in Cron/Crunz context
- use absolute path to `fetchmail` binary
- run `fetchmail` in verbose/debug mode

IMO your error is not related to Crunz itself, it may be some permission/path/etc issues which I can't resolve by Crunz. I could add more information to Crunz de

[2020-02-14 21:49] jamminjames commented on #275
The fetchmail binary is owned by root:root, whereas the Task file is humortimes:nginx. I don't think I can change the binary ownership, because of its location at /usr/bin/fetchmail.

Here's the result of running it using the binary and verbose:
[code]

[2020-02-15 06:18] PabloKowalczyk commented on #275
As we can see `fetchmail` and Crunz works, the only issue is that `fetchmail` returns non-zero exit code, I don't know why, but it is beyond scope of Crunz. Probably it (`fetchmail`) returns exit code 1 even when you run it directly from CLI The best tip I can give is to read the manual: https://www.fetchmail.info/fetchmail-man.html 😄

Closing because there is no issue on Crunz side and nothing I

[2020-02-15 06:18] #275 closed

[2020-02-15 09:51] jamminjames commented on #275
Thanks for all your help!

[2020-02-21 08:20] eradin opened #285 "Project configuration file not loaded V2.1"
Hi, this was an issue with V1.7 but I am seeing something similar with 2.1.

Reference:  https://github.com/lavary/crunz/issues/108

I have installed crunz and uploaded to my server.  The test server is a shared hosted environment (linux) running php 7.2.  I have set up cron per the instructions with a copy of the config file in my project root folder.  When I run the command from cron with debugg

[2020-02-21 09:21] PabloKowalczyk commented on #285
Hello,

in `v2.1` Crunz will only look for `crunz.yml` in current working directory (https://github.com/lavary/crunz/blob/master/UPGRADE.md#upgrading-from-v110-to-v111).

Could you show me result of `vendor/bin/crunz schedule:run -vvv` and your Cron entry?

[2020-02-21 16:04] eradin commented on #285
Thank you for the feedback.  I am doing everything according to the docs.  Here is some more information.

cron job:
cd /home/relevant/public_html && vendor/bin/crunz schedule:run -vvv > tasks.log 2>&1

directory structure
public_html/
-crunz.yml
-tasks/
- vendor/
--bin/
---crunz

Output of run:
Config file not found, exception message: 'Unable to find config file "/home/relevant/public_html/vendo

[2020-02-22 03:49] davidsneighbour commented on #285
In my experience on shared hosting you should use the full path and call php, like the following:

[code]

`./vendor/bin/crunz` might have to be even `/home/relevant/public_html/vendor/bin/crunz`

[2020-02-22 06:55] PabloKowalczyk commented on #285
@davidsneighbour good tip, using absolute path is always better option.

@eradin Here is output for command `cd /var/www/html && vendor/bin/crunz s:l -vvv` in my project (missing `crunz.yml` on purpose):

[code]
Everything works as expected. Are you sure Crunz version (`vendor/bin/crunz --version`) on server is `v2.1`?

[2020-02-22 15:06] eradin commented on #285
I just checked again.  --version show V2.1.

I also tried absolute path:

cd /home/relevant/public_html && /home/relevant/public_html/vendor/bin/crunz schedule:run -vvv > tasks.log 2>&1

tasks.log:
Config file not found, exception message: 'Unable to find config file "/home/relevant/public_html/vendor/lavary/crunz/crunz.yml".'.
Unable to find/parse config file, fallback to default values.
Task sou

[2020-02-22 16:59] eradin commented on #285
A little more information.  I added a pwd command in bin/crunz right before the call to the lavary/crunz script.  It prints out the current working directory (.../public_html).  I also added a line at the top of the lavary/crunz script echo getcwd().  It prints out .../public_html/vendor/lavary/crunz.  This suggests cron is changing the directory when the script is run.  I don't want to waste anym

[2020-02-23 01:34] eradin commented on #285
Ok, I figured out the problem.  I am documenting the reasons here in hope I save some poor sole some valuable time and frustration. It should also improve the out of the box experience for newbies.  This is really a great tool and it should work right out of the box.

I ran several tests independent of crunz.  Apparently, getcwd(), which crunz is using, returns different results based on the php i

[2020-02-23 16:53] engor commented on #282
Exception in v3.0 sounds cool! :) Sorry for long reaction, I missed your answer.

[2020-02-25 19:31] PabloKowalczyk commented on #285
@eradin did passing absolute path to PHP binary solves issue also?

[2020-02-25 19:48] eradin commented on #285
I'm not sure what you mean.  I did try to replace the shebang with /usr/bin/php instead of the env php and that worked fine.  Cron has it's own environment and path so using env is unpredictable.  But hard coding /usr/bin/php is also unpredictable.  The environment variable cwd is correct before the call to the second lavary/crunz.  I think if you copy that to say CRUNZ_ROOT before the call to lav

[2020-02-25 19:53] PabloKowalczyk commented on #285
I mean crontab entry like  `* * * * * cd /project/path && /absolute/path/to/bin/php vendor/bin/crunz s:r`. With this entry you specify which PHP binary will be used. If this helps you I will change documentation.

[2020-02-25 20:02] eradin commented on #285
No.  That's because the error occurs in the lavary/crunz file (the vendor/bin/crunz call is fine).  The shebang says env php so it will ignore your path entry and go with the environment.  That is running cgi-fcgi. In a shared environment, I have no control over the cron environment.

[2020-02-25 20:09] PabloKowalczyk commented on #285
Shebang will be used only if you call `vendor/bin/crunz` directly, if you specify PHP binary (`/absolute/path/to/bin/php vendor/bin/crunz`), specified binary will be used.

[2020-02-25 20:34] eradin commented on #285
Maybe I'm not getting something here. vendor/bin/crunz is not a php file, it's a shell script.  Running it through php just dumps it out to stdout.  That file runs just fine as a  shell script.  It then calls lavary/crunz and that is a php file.  It's also where the trouble begins because it's not using the sh interpreter (in my case).  The standard php interpreter assumes the cwd is the path to t

[2020-02-25 21:26] eradin commented on #285
Here, this is the solution:

vendor/bin/crunz line 14 insert:

export CRUNZ_ROOT=$PWD

lavary/crunz line 16 insert:

$ROOT = getenv('CRUNZ_ROOT');
if ($ROOT !== FALSE) {
    chdir($ROOT);
}

[2020-02-26 17:21] PabloKowalczyk commented on #285
I'm wondering why your `vendor/bin/crunz` is shell script? On Ubuntu and in Alpine container it is symlink to PHP file, are you on Windows? Maybe your Composer is very old?

I would like to understand reason of your issue, you wrote:

Does it mean that Cron was using FPM runtime? How can i reproduce your environment with Docker?

IMO the best solution will be to add new option to `schedule:run`, o

[2020-02-26 17:51] eradin commented on #285
My dev system is windows and I propagate to a linux server.  My composer version is 1.9 (8/2019) so it's pretty current.  bin/crunz is most definitely a sh script and it does run on linux.  I've never had a problem with propagating any php library from windows to linux.

I'm not sure you can reproduce it.  My cpanel hosting has had other peculiar setups that don't seem to appear on my vps servers.

[2020-02-26 18:06] eradin commented on #285
Btw, here is what I have after composer install on windows.

bin/crunz.bat

[code]

bin/crunz

[code]

[2020-02-27 14:20] PabloKowalczyk commented on #285
Did you deploy your application by `FTP`/`SCP`/`rsync`/etc?

Your solution with modifying `vendor/bin/crunz` (which is binary file, not `PHP` file) is not portable at all, better solution for long term is `--cwd` option. Would you like to provide PR?

[2020-02-27 16:47] eradin commented on #285
Yes I use rsync.  I don't understand what you mean the vendor/bin/cruz file is binary.  It's a text shell script.  At least my copy is.  Anyway, I have it working with my patch but I would like a more permanent solution.  If you think --cwd will do it, great.

[2020-02-27 17:11] eradin commented on #285
I just tried to install crunz on the linux server and it is a very different setup than on windows.  Perhaps there is a mismatch on how I am using crunz and the intended use.  I have it as part of my application distro and I also check it into git.  All of these symbolic links kind of break that development paradigm.

Was the intended use to make it a server deployment dependency?  I suppose I cou

[2020-02-27 20:51] simmonspaul opened #286 "Error handling of failed jobs"
I use crunz to schedule a number of jobs that rely on third party servers. Some are job dependent, others I schedule to minimise resource contention but are otherwise independent.

For the record, the first, interim, and last steps of the jobs that I run update a db table (eg "job status") which provides the job name, status (start, step1..., end), and start, last update, and end times. This provi

[2020-03-08 06:39] PabloKowalczyk commented on #285
It is always better to install dependencies on target OS. When Crunz is installed on Linux, Composer creates symlink to Crunz main file and you can use `/path/to/your/php-bin vendor/bin/crunz`, of course course this is just a simplification. Solution will be a `--cwd` option.

[2020-03-08 08:52] PabloKowalczyk commented on #56
@araiczyk @abrenoch I have just merged https://github.com/lavary/crunz/pull/287, please give it a try. If, for some reason, this not fit into your use cases please feel free to open new issue, with detailed description of course :)

[2020-03-08 08:52] #56 closed

[2020-03-09 10:47] PabloKowalczyk commented on #286
Hello,
Am I understand correctly that your problem is that failed jobs don't end (which should be fixed by https://github.com/lavary/crunz/pull/261)?

[2020-03-09 22:42] simmonspaul commented on #286
I'm using v2.1.x-dev and my jobs still lock - was not resolved by #261.

(Nothing to do with crunz... but the reason for my errors are disconnects from host:
Fatal error: Uncaught GuzzleHttp\Exception\RequestException: cURL error 56: Recv failure: Connection reset by peer
or
Fatal error: Uncaught GuzzleHttp\Exception\ServerException: Server error: ''resulted in a `502 Bad Gateway` response:)

[2020-03-10 06:19] PabloKowalczyk commented on #286
Is it long running script that do not exit after disconnect?

[2020-03-10 15:26] simmonspaul commented on #286
Pablo, yes that is correct. It is long running... because it does not error when a disconnect occurs. I have circumvented this by stopping and resetting the job via a monitoring tool. In the next crunz schedule, the job is starts again and continues from where it left off (was disconnected).

Having said that, my greater point is that I believe that the **scope** of crunz should be starting tasks

[2020-03-11 01:24] MarcosGrzeca opened #289 "onOneServer"
**Description**
An option to indicate that the task should run on only one server, similar to laravel onOneServer.

[2020-03-11 15:08] PabloKowalczyk commented on #289
Hello,
do you mean https://laravel.com/docs/5.8/scheduling#running-tasks-on-one-server?

[2020-03-11 15:12] PabloKowalczyk commented on #286
I see now and you are 100% right, Crunz was never designed to keep or monitor long running scripts. IMO you should definitely use external tools to monitor status of your connection inside your script and not rely on Crunz at all.

[2020-03-11 16:40] simmonspaul commented on #286
So as a feature request, crunz to produces pids when it starts and for the tasks that it is managing.

Crunz is powerful because it provides core a 'one stop shop' for features like providing log files for triggered scripts, and the ability of emailing script output and errors, rather than having to rebuild this in each user script.

Generating pids is core php and would be an improvement for crun

[2020-03-11 16:58] PabloKowalczyk commented on #286
@simmonspaul having creation of PIDs in core of Crunz is not a good idea IMO, with plugin system this can be moved to external package which is very good, but plugin system is only in my head, not in code.
Actually Crunz itself doesn't need PIDs, everything is in memory and process can success or fail (ends with code `0` or other). Again: Crunz is not designed for long running scripts and adding t

[2020-03-16 02:27] MarcosGrzeca commented on #289
Exactly, but in the crunz package.

I prefer crunz, because Laravel doesn't have a method to list cron operations.

[2020-03-16 06:04] PabloKowalczyk commented on #289
Actually it is implemented in Crunz, but with different name, `preventOverlapping`, https://github.com/lavary/crunz#parallelism-and-the-locking-mechanism. To make sure task runs on only one server you should use one of external lock stores https://symfony.com/doc/current/components/lock.html#available-stores, like PDO, Redis or Memcached.

[2020-04-13 08:14] PabloKowalczyk commented on #259
It took a while to implement this RFC but here it is: https://github.com/lavary/crunz/pull/298 - I encourage everyone to test it before merge.

Ping @jasonmccreary

[2020-04-15 05:15] PabloKowalczyk commented on #259
#298 was merged.

[2020-04-15 05:15] #259 closed

[2020-04-15 05:16] PabloKowalczyk commented on #216
Fixed by https://github.com/lavary/crunz/pull/298.

[2020-04-15 05:16] #216 closed

[2020-04-15 05:16] PabloKowalczyk commented on #247
Fixed by https://github.com/lavary/crunz/pull/298.

[2020-04-15 05:16] #247 closed

[2020-04-15 05:17] PabloKowalczyk commented on #249
Fixed by https://github.com/lavary/crunz/pull/298.

[2020-04-15 05:17] #249 closed

[2020-04-15 05:17] PabloKowalczyk commented on #257
Fixed by https://github.com/lavary/crunz/pull/298.

[2020-04-15 05:17] #257 closed

[2020-04-17 19:44] anilcngz opened #301 "Empty crunz.ERROR: (object(Closure))"
**Crunz version**: 2.1

**PHP version**:  7.2.14

**Description**
I have a perfectly working Task file in tasks directory. But when i added an array to closure, it starts getting error as below in log file of crunz:

**[2020-04-17 21:41:08] crunz.ERROR: (object(Closure))    [] []**

The test array i added to task as below:

[code]

[2020-04-18 05:06] PabloKowalczyk commented on #301
Hello, could you paste whole task code?

[2020-04-18 11:35] anilcngz commented on #301
Hi Pablo,

Below you can find whole task code which works without error.
[task.txt](https://github.com/lavary/crunz/files/4496543/task.txt)

When i add the array as below, it starts getting error.
[taskError.txt](https://github.com/lavary/crunz/files/4496546/taskError.txt)

P.S.: I use different packages in task code, it can be hard to reproduce the error with them. If you prefer i can try to remo

[2020-04-19 04:56] PabloKowalczyk commented on #301
Actually there is a lot of code, what i extracted is:
before:
[code]

after:
[code]

And this code works fine, without any errors. Could you prepare minimal reproducer code?

[2020-05-11 03:17] lluck42 opened #302 "It don't work for use a model class in Yii2"
**Crunz version**: 2.1

**PHP version**: 7.2

**Operating system type and version**:linux

**Description**
in Yii2 framework
It don't work for use a model class in Yii2
[code]
**Additional context**
[code]

[2020-05-11 10:18] PabloKowalczyk commented on #302
Hello, does following code works?
[code]

[2020-05-11 20:07] JaminOdabe opened #303 "lavary/crunz v2.1.0 requires monolog/monolog ^1.19"
**Crunz version**: 2.1.0

**PHP version**: 7.4.5

**Operating system type and version**:
Centos 8

**Description**
Hi,
trying to install Crunz on a new server, alongside Symfony 5, but looks like a dependency issue prevents that.
Is there a fix?
Crunz is one of the first libraries I use on a new project.
Thanks!

**How to reproduce**
composer require lavary/crunz

**Additional context**

![crunz](

[2020-05-12 05:13] PabloKowalczyk commented on #303
Hello, Symfony 5 is compatible with `"monolog/monolog": "^1.25.1|^2"` and Crunz is 100% compatible with Symfony 5. You just need to lower expected monolog version in your `composer.json`, as your screenshot says.

[2020-05-12 17:04] JaminOdabe commented on #303
you are right, of course.
thank you for your hard work.

[2020-05-12 17:04] #303 closed

[2020-05-20 14:47] iluuu1994 commented on #40
We're really interested in this. I will spend a few hours to make this happen. Do you have a preferred way you want this to be implemented? For our use case we need to specify two static task directories but maybe it would make sense to allow specifying some service that collects the tasks as suggested here.

[2020-05-20 16:30] spotman commented on #40
@iluuu1994 are you asking me or the library maintainer?

[2020-05-20 16:31] iluuu1994 commented on #40
The maintainer 🙂

[2020-05-20 17:21] PabloKowalczyk commented on #40
Hello guys,

Currently Crunz's task loader search for files recursively, so setting `/var/www/html` as a source, and placing tasks in `/var/www/html/A` and `/var/www/html/B` should do the trick. BTW you can use symlinks.

[2020-05-20 18:57] iluuu1994 commented on #40
Thanks for your tip, that might work. Are you still interested in a more general solution? A single directory is pretty limiting. We'll have to make our framework automatically symlink the two directories which surely works but isn't super elegant.

[2020-05-21 06:23] PabloKowalczyk commented on #40
Generic solution would be awesome, but developing it will take time. Ideally Crunz should provide some plugin api to ease customizing some aspects Crunz itself.

[2020-06-18 05:05] PabloKowalczyk commented on #282
Actually, I've tested it and proper exception `[InvalidArgumentException] Invalid CRON field value 11:25 at position 4` is shown, what version do you use?

[2020-06-18 05:07] PabloKowalczyk commented on #289
Issue looks like resolved to me, in case of more questions feel free to open new one, I'm closing this one.

[2020-06-18 05:07] #289 closed

[2020-06-28 02:00] M-Shahbaz opened #307 "everyOneHundredMinutes() will it work every 100 minutes?"
There's a function in description:

`everyFiveHundredThirtySevenMinutes()`

So will it work on every five hundred thirty seven minutes?

Let's say I want to run task every 100 minutes.
Will run every 100 minutes? e.g: if first time it runs at `00:00` then next would be at `01:40`
`everyOneHundredMinutes()`

Or could be great if possible:
`everyMinutes('100')`

Thanks,

[2020-06-28 06:39] PabloKowalczyk commented on #307
Hello,
short answer: no, long answer: calling `->everyOneHundredMinutes()` will produce expression `*/100 * * * *` with these run dates:
[code]
as you can see it is definitely not every 100 minutes. It is not a bug, this is how Cron works. Probably word `every` is confusing, because it is really `every` only in some cases, like 15 minutes, 20 minutes or 30 minutes, but in other cases it is not `ev

[2020-06-28 12:55] M-Shahbaz commented on #307
How can we have every 100 minutes with crunz
In cron it can be possible with splitting into two tasks e.g: https://stackoverflow.com/a/247643/1865829

[2020-06-28 13:00] PabloKowalczyk commented on #307
You can pass Cron expression to task, see https://github.com/lavary/crunz#the-classic-way

[2020-07-06 16:57] pobegov opened #308 "TimeZone as parameter"
**Description**
Setting up CRUNZ to run on shared hosting is not an easy task, since the TimeZone has become a mandatory parameter. Crunz.conf is in the base dir of the project, yet the cron scheduler calls it from the outside. Would be awesome if the timezone (or path to the config file) could be passed in as a cli parameter.

[2020-07-06 17:14] pobegov commented on #308
or better > pass the path to config file as a parameter!

[2020-07-07 10:48] pobegov commented on #308
Duplicate of #192

[2020-07-07 10:48] #308 closed

[2020-07-09 15:11] SalvadorCastello opened #309 "AppendOutputTo Not working on version 2.2"
**Crunz version**: 2.2

**PHP version**: 7.2.31

**Operating system type and version**:
Ubuntu 16.04
**Description**
After upgrading from Crunz 1.12,  tasks stoped writing to log files.

I installed Crunz 2.1 and it is writing log again.

Is there any new configuration to use "AppendOutputTo" ?

Thanks

[2020-07-09 15:36] PabloKowalczyk commented on #309
Hello,

could you paste code to reproduce the issue?

`v2.2` of Crunz introduced `LoggerFactoryInterface` and this could break something.

[2020-07-09 16:45] SalvadorCastello commented on #309
This is the file in the "tasks" folder:
<?php
// TASK/Calcula Ocupação de espaço em disco
use Crunz\Schedule;
$schedule = new Schedule();
$task = $schedule->run("php index.php batch run 'Used_size calculate'");
$task
->in('/var/www/html/SA/V1')
->daily()
->at('2:00')
->description('Calcula Ocupação de espaço em disco')
->preventOverlapping()
->appendOutputTo('/var/www/html/SA/V1/Batch/logs/3_Used_

[2020-07-09 16:49] SalvadorCastello commented on #309
Sorry by the previous comment , now I arranged the text ...

This is the file in the "tasks" folder:
'<?php
// TASK/Geração dos Indicadores Dashboard
use Crunz\Schedule;
$schedule = new Schedule();
$task = $schedule->run("php index.php batch run 'Indicadores GeraIndicadores'");
$task
->in('/var/www/html/StartArq/V1')
->everySixHours()
->description('Geração dos Indicadores Dashboard')
->preventOve

[2020-07-09 16:53] SalvadorCastello commented on #309
Don't mind about the folder 'SA' and 'StartArq'  they are the same , I took the job from production and the cron from dev.

[2020-07-09 20:39] jasonpartyka commented on #309
We're just using crunz for the first time and ran into this as well. Had to downgrade to `2.1.0` in order to fix. We spent a while tracking down this issue.

We're not doing anything crazy at the moment yet, we were just trying to test out the logging feature to make sure it would work for us.

Here's what we're trying -- our business logic removed, however, for clarity.

[code]

[2020-07-12 09:23] PabloKowalczyk commented on #309
I can confirm bug in `sendOutputTo` and `appendOutputTo`, will try to fix it soon.

[2020-08-20 04:07] rogerzanelato commented on #307
@PabloKowalczyk Can you see a way of achieving it with days?

I would like a job to be executed **every X days of the year**.  If I use a cron expression like this `0 0 */3 * *` my job can be executed twice in a row when a new month start.

[code]

This example is using three days, but in my real use case it could be any valid day number.

[2020-08-20 10:08] PabloKowalczyk commented on #307
Hello @rogerzanelato, what about `0 0 1-30/3 * *`?

[2020-08-23 23:06] rogerzanelato commented on #307
Hello @PabloKowalczyk, sorry for the late answer!

Unfortunately it didn't work, I tested with this expression and it skips the 31th.

[code]

But it's okay, I don't think it's something possible with conventional Cron anyway, I think I'll have to handle it in my code. Thank you!

[2020-08-26 22:00] AhtashamImtiyaz opened #311 "Can we Reschedule a task?"
I have a scenario in which i need to reschedule a task.

So we have for example:
[code]

If above work was not accomplished reschedule the task:

`$task->on('18:30 2020-08-29');`

[2020-08-27 07:07] PabloKowalczyk commented on #311
Hello,

I think that this is not something that Crunz should be aware of, probably there is some (business) logic behind reschedule decision and why don't you put it in your script (`buy.php`)?

You could also see https://github.com/lavary/crunz#running-conditions.

What do you think?

[2020-08-27 08:37] AhtashamImtiyaz commented on #311
I think i cannot use the condition in this scenario, because condition will only run the task if it fullfil while in my case, the task will run for sure and it should run the schedule again if it was not accomplished. For example, buy something on '2020-08-29 at 01:30 pm', we will schedule it with $task->on('13:30 2020-08-29'). But if the item was not available in the stock then it should reschedu

[2020-08-27 10:15] PabloKowalczyk commented on #311
How about configuring your job with Cron expression `30 13,18 29 * *` and write appropriate conditions directly in your script?

IMHO Crunz should stay stateless, maybe one day with plugin system there can be option to "remember" last exit code, but this is not something that should be in the core of Crunz.

[2020-08-27 12:08] AhtashamImtiyaz commented on #311
umm. Okay i will do it this way. Thanks mate. Nice project. Appreciate your work.

[2020-08-27 12:22] PabloKowalczyk commented on #311
Thanks.

[2020-08-27 12:22] #311 closed

[2020-08-27 14:08] davidsneighbour commented on #311
A note from the side lines ;) I would implement this by using a task that is run every minute (or every 5 minutes or every hour, depending on your schedules) that is checking in a database for tasks that are scheduled. Those tasks then create a new row with the new run time if required. This procedure should solve your conundrum?

[2020-08-28 11:08] AhtashamImtiyaz commented on #311
Thats nice approach

[2020-08-31 08:00] rtanzifi opened #312 "How to do a job at a time with second?"
Hi. can i run a job just once at specific time with seconds? for Example 2020-08-31 20:30:59?

[2020-08-31 08:59] PabloKowalczyk commented on #307
No problem, thanks.

[2020-08-31 08:59] #307 closed

[2020-08-31 09:00] PabloKowalczyk commented on #312
Hello, the smallest possible interval for Crunz (as for Cron) is one minute.

[2020-09-01 19:57] archonia-chris opened #313 "preventOverlapping for distinct tasks"
**Description**
preventOverlapping allows to skip a task if the previous execution is still running. Sometimes there are multiple distinct tasks that shouldn't run concurrently. If we are allowed to set "lockKey", we can easily accomplish that.

**Example**
One way to provide this feature would be as an extra parameter to preventOverlapping that overrides "lockKey".

// Task1
$schedule->run('/usr/

[2020-09-02 11:38] PabloKowalczyk commented on #313
Hello,

i like your idea, but with a little different API. New method on `Event` class should do the job, for example:
[code]

Would you like to provide a PR?

[2020-09-02 14:49] archonia-chris commented on #313
There is already a function lockKey on the `Event` class
private function lockKey()
Should that one be renamed?

[2020-09-05 05:40] PabloKowalczyk commented on #313
private function lockKey()
Should that one be renamed?

Yes, it is internal method and can be renamed safely.

[2020-09-08 20:42] g19i85g opened #314 "preventOverlapping not working on closures"
**Crunz version**: 2.2.0

**PHP version**: 7.3.19

**Description**
The method preventOverlapping() does not work.

**How to reproduce**
Create a long running task and let it run every minute.
After a few minutes you can see that the task runs several times.
[code]

**Additional context**
I found out that the method \Crunz\Event::lockKey() creates a new key every time I start the run command.

[cod

[2020-09-09 05:42] PabloKowalczyk commented on #314
Hello, after https://github.com/lavary/crunz/issues/313 you can specify `lockKey` yourself, that should resolve the problem.

[2020-09-09 07:35] g19i85g commented on #314
Yes, that's true but from my point of view this is more of a workaround. Maybe you could make it mandatory to hand over the key when using closures.

[2020-09-16 06:23] GlennM opened #315 "Environment vars in crunz config"
**Description**
Ability to use environment variables in the `crunz.yml` configuration file

**Example**
I was trying to get my email settings from my environment into the Crunz configuration (`Global Swift Mailer settings` & `SMTP settings`) but I couldn't get them parsed correctly

[2020-09-16 06:25] GlennM commented on #30
By any chance, has this been implemented as mentioned in the comment above?
I don't see it specified in the docs so I'm not sure.

[2020-09-18 07:44] GlennM opened #316 "schedule:run not executing on server"
**Crunz version**: 2.2.0

**PHP version**: 7.4.10

**Operating system type and version**:
Linux

**Description**
I had to add `/usr/local/bin/php` before `vendor/bin/crunz` when entering the crontab into cPanel.

[2020-09-18 09:16] #316 closed

[2020-09-19 00:25] turtle0x1 opened #317 "Method 'MonthlyOn' is not supported."
**Crunz version**: 2.2.0

**PHP version**: 7.4.8

**Operating system type and version**: ubuntu 20.04

**Description**

[code]
**How to reproduce**
[code]
**Possible Solution**
:shrug:

**Additional context**
:disappointed:

[2020-09-19 06:14] PabloKowalczyk commented on #317
Hello, `monthlyOn` will be a nice addition in the future, currently you can pass Cron expression directly by `cron` method.

[2020-09-19 10:34] turtle0x1 commented on #317
Okay 😊

Might want to remove it from the READEME https://github.com/lavary/crunz#running-events-at-certain-times

[2020-09-19 10:41] PabloKowalczyk commented on #317
Good catch, thanks.

[2020-09-27 15:25] eradin opened #318 "V2.2 log_output out won't disable"
**Crunz version**: 2.2

**PHP version**: 7.2

**Operating system type and version**: Ubuntu 16.04

**Description**

With this config, I'm getting a tasks.log file.

log_output: false
output_log_file: /home/wbox/public_html/tasks.log

**How to reproduce**

**Possible Solution**

**Additional context**

Also, as a new feature, it would be nice to have a config setting for max log file size.

[2020-10-02 13:30] PabloKowalczyk commented on #317
`MonthlyOn` was removed from documentation in #319, thanks @turtle0x1.

[2020-10-02 13:30] #317 closed

[2020-10-12 14:22] PabloKowalczyk commented on #314
Fixed by #326, thanks @g19i85g.

[2020-10-12 14:22] #314 closed

[2020-10-14 19:54] matiniamirhossein opened #328 "Setting timezone dynamically"
Hi there,
Is there a way to set timezone dynamically in crunz?
We read timezone from a php configuration file.

Thanks.

[2020-10-17 10:41] PabloKowalczyk commented on #328
Hello,

currently you can set it per task using `timezone` method.
With env vars support (https://github.com/lavary/crunz/issues/315) you can set it by env var, but event better will be to support PHP config file where you can do everything you want. WDYT?

[2020-10-17 10:44] PabloKowalczyk commented on #193
Closing due to no activity over a year.

[2020-10-17 10:44] #193 closed

[2020-10-21 19:57] matiniamirhossein commented on #328
@PabloKowalczyk I think its better if we can also do $schedule>timezone() at the beginning of each task file.
Also, thank you for your awesome library, saved me a big time.

[2020-10-28 21:06] pricheal opened #331 "System environment vars not available in php"
**Crunz version**: 2.2.2

**PHP version**: 7.4.11

**Operating system type and version**: Running in the `php:7.4-cli` docker image

**Description**
I am trying to use the php `getenv()` function to get environment variables from the system (docker container) within a closure given to the crunz `run()` function. The environment variables that I know are set on the system (or the docker container)

[2020-10-29 05:51] PabloKowalczyk commented on #331
Hello, what about superglobals `$_SERVER` and `$_ENV`, are they also empty?

[2020-10-29 13:50] pricheal commented on #331
@PabloKowalczyk Yes, they are also missing the environment variables. I have discovered that if I run the command `vendor/bin/crunz schedule:run` directly in the command line manually myself, the environment variables are available. But not when the `schedule:run` is being activated via the cron. Any idea on why this may be or a potential fix? Here is my `Dockerfile` that sets up the crontab.

[co

[2020-10-29 13:59] PabloKowalczyk commented on #331
How did you set up your env vars in container? Cron is run as `root`, what user was used when you run Crunz manually?

[2020-10-29 14:15] pricheal commented on #331
The environment variables are being passed in to the container via the `docker run` command. I was also the `root` user when I ran crunz manually.

This seems to be related: https://serverfault.com/questions/337631/crontab-execution-doesnt-have-the-same-environment-variables-as-executing-user

If I manually add the exported env var to the cron command itself, the environment variable appears.
[cod

[2020-10-29 14:17] PabloKowalczyk commented on #331
So, looks like not a problem in Crunz itself?

[2020-10-29 15:23] pricheal commented on #331
Yes I believe so, here's a run down of what I've found and how you can get this setup working with docker.

* Cron process will grab any environment variables set in `/etc/environment`

* Anything ran via the cron tab won't have access to the system environment variables, so something like this won't work:
[code]
* Anything ran during docker image creation obviously won't have access to environmen

[2020-10-29 15:23] #331 closed

[2020-10-29 18:04] PabloKowalczyk commented on #331
Nice description, thanks @pricheal.

[2020-11-04 11:22] EduardoSimon opened #332 "Debugging with XDebug"
**Description**
Is possible to debug a task with Xdebug?

**Example**
I would like to debug tasks in Development using PhpStorm.

[2020-11-04 14:26] PabloKowalczyk commented on #332
Hello, actually I never tried that. Under the hood, Crunz spawn new process with task's command, but I really don't know is it possible to debug it.
Maybe Xdebug guys will know how to setup it?

[2020-11-23 18:09] judodan commented on #238
I'd like to second this. I want to be able to set rules programmatically. I'd also like to be able to show the last time a task was run (I can do that by checking the log file) as well programmatically forcing a job to run. I suppose I could circumvent this all using "when" ?

@fluchi I'd be interested in seeing how you've done this.

[2020-11-25 17:52] fluchi commented on #238
Hi @judodan ,

on my case, I have a set of rules on a database that tells me "when" to run a command, something like "run foobar after noon". Based on these set of rules, I check what should be running and inject commands on `run`'s argument and create a tasks as described [here](https://github.com/lavary/crunz#how-it-works). This verifications are done in a task file.

Basically, it is [main sche

[2020-11-27 14:20] rame0 commented on #332
I just tried it. It worked without any additional settings
![1](https://user-images.githubusercontent.com/2233607/100458398-c3234280-30d4-11eb-95ba-ea14eeecc0b9.png)

[2020-11-27 15:51] EduardoSimon commented on #332
That's great! Could you share your config?

[2020-11-29 05:23] PabloKowalczyk commented on #318
Fixed in #334, thanks @eradin.

[2020-11-29 05:23] #318 closed

[2020-11-30 00:51] rame0 commented on #332
My xDebug config is default, except `remote_enable=1`.
And PHPStorm accepting external connections (Settings->Languages & Frameworks->PHP->Debug)

[2020-11-30 17:33] EduardoSimon commented on #332
Forgot to say that I have  set it up inside Vagrant, the cron and crunz. Maybe its cuz of that?

[2020-11-30 20:01] rame0 commented on #332
Can't say about Vagrant. My test environment runs in Docker containers.

[2020-12-04 15:05] #332 closed

[2021-01-27 22:43] igorlealantunes opened #345 "Use closures inside a class"
**Crunz version**: 2.0+

**PHP version**: 7.4.9

**Operating system type and version**: MAC OSX

**Description**
I am trying to run my tasks inside a class function (instead of plain PHP scripts). And I'm getting errors related to class namespaces (some internal classes of the library cannot access the class that I am using to wrap the call to the closure inside the run() method of the scheduler o

[2021-01-28 08:08] PabloKowalczyk commented on #345
Hello, do you use Composer and Crunz shares autoloader with your app?

[2021-01-28 20:38] igorlealantunes commented on #345
Hi Pablo, thanks for the support.

I am using Composer to install Crunz, but the autoloader is not the same of my app.

[2021-01-29 10:17] PabloKowalczyk commented on #345
Could you try to somehow "merge" autoloaders and then test? Looks like issue is not with Crunz but with autoloader.

[2021-03-31 11:42] drjayvee commented on #309
@PabloKowalczyk any progress on this?

I'm running `v2.3.0` and notice that [`EventRunner::start()`](https://github.com/lavary/crunz/blob/master/src/EventRunner.php#L94) seems strange:
[code]
As of 3f7c8f574d1, `$event->logger` is not specific to that event at all.

I also can't tell how that would work with the new `LoggerFactory`.
`LoggerFactory::create()` doesn't take any parameters to override

[2021-03-31 14:42] drjayvee commented on #309
Sorry, completely missed that one!

[2021-04-05 14:10] anilcngz opened #357 "Task Life Time - between - 24 hour clock"
**Crunz version**: ^2.2

**PHP version**: 7.4.16

**Operating system type and version**: Zend Engine v3.4.0, Copyright (c) Zend Technologies
    with the ionCube PHP Loader + ionCube24 v10.4.5, Copyright (c) 2002-2020, by ionCube Ltd.
    with Zend OPcache v7.4.16, Copyright (c), by Zend Technologies

**Description**
I am trying to add a task which will run every hour between 09:00 and 13:00. But

[2021-04-05 16:19] PabloKowalczyk commented on #357
Hello,

`between` uses closures to limit run dates (which seems to be broken), but you can achieve same result with pure cron expression, try `->cron('0 9-13 * * *')`.
With pure expression you can debug task (`crunz task:debug`) and see example run dates.

[2021-04-08 08:52] anilcngz commented on #357
Thank You 👍😊

[2021-04-08 08:52] #357 closed

[2021-04-14 03:45] davidduda111 opened #358 "Tasks order"
**Description**

Is it possible to define order in which tasks should be executed?

**For example**

`$task = $schedule->run('echo "Hello there!"')->order(1)->everyMinute();`
`$task = $schedule->run('echo "Hello there again!"')->order(2)->everyMinute();`

[2021-04-21 10:31] ishicamiru opened #359 "some problems whith v2.3.0 but on v1.12.4 and php v5.6 everything is fine"
**Crunz version**: 2.3.0

**PHP version**: 8.0.0 and  7.4.13

**Operating system type and version*ubuntu v2004*:

**Description**
devilbox@php-8.0.0 in /shared/httpd/new_sheduler $ vendor/bin/crunz schedule:run

Fatal error: Declaration of Symfony\Component\DependencyInjection\ServiceLocator::has(string $id) must be compatible with Psr\Container\ContainerInterface::has($id) in /shared/httpd/new_sh

[2021-04-21 14:19] ishicamiru commented on #359
Possible Workaround  composer require symfony/service-contracts:2.2.0

[2021-04-22 06:06] PabloKowalczyk commented on #358
Hello,
ordering executing is not possible at the moment. What is your use case?

[2021-04-22 06:08] PabloKowalczyk commented on #359
Interesting, please show output of `composer info` and your `composer.json` file.

[2021-04-22 09:33] ishicamiru commented on #359
![image](https://user-images.githubusercontent.com/16159416/115691541-d4f8d100-a366-11eb-9488-0ece4e0e116d.png)
![image](https://user-images.githubusercontent.com/16159416/115691587-e04bfc80-a366-11eb-9d2f-fe79f0c45e9e.png)

[2021-04-22 12:46] PabloKowalczyk commented on #359
Sorry, I mean `composer info` output without `symfony/service-contracts` dependency.

[2021-04-22 13:04] ishicamiru commented on #359
![image](https://user-images.githubusercontent.com/16159416/115718950-4bf09280-a384-11eb-9f26-b35a98d4cfcd.png)
![image](https://user-images.githubusercontent.com/16159416/115719014-5ca10880-a384-11eb-9028-556c9d6a207e.png)

[2021-04-22 13:27] PabloKowalczyk commented on #359
I'm trying to reproduce it locally but without success. You could try to remove Crunz cache `/tmp/.crunz` (inside container/VM) and try again. Depedencies' versions seems ok.

[2021-04-22 15:35] ishicamiru commented on #359
Sorry, but hasn't helped yet, thanks for your support)

[2021-04-23 08:59] PabloKowalczyk commented on #359
Could you create repo with Docker (and `composer.lock` file) to reproduce the issue?

[2021-04-23 13:03] ishicamiru commented on #359
https://github.com/ishicamiru/Schedule

[2021-04-23 14:52] PabloKowalczyk commented on #359
Tested your repo on Ubuntu with PHP 8.0.3 and Crunz works, so I'm unable to reproduce this issue.

[2021-04-23 15:36] ishicamiru commented on #359
https://github.com/ishicamiru/Schedule  sorry, i update repo ,(symfony/service-contracs:2.4.0  as in the original lavary/crunz)

[2021-04-25 12:09] PabloKowalczyk commented on #359
Tested code after update but still cannot reproduce issue.

[2021-04-26 09:51] ishicamiru commented on #359
problem in using devilbox
https://github.com/jbboehr/php-psr/issues/88

[2021-04-26 13:54] ishicamiru commented on #359
for those who use devilbox in the .even file write psr
and re-install lavary / crunz
![image](https://user-images.githubusercontent.com/16159416/116093223-2d093d80-a6af-11eb-9e97-b46608a88254.png)

[2021-04-26 15:08] PabloKowalczyk commented on #359
Nice finding. This is why i can't reproduce it on my local machine. Thanks @ishicamiru.

[2021-04-26 15:08] #359 closed

[2021-04-28 22:49] pixobit commented on #238
I believe this is redundant, because this is completely possible at the moment, just as @fluchi pointed out the solution.

[2021-04-29 18:32] pixobit opened #362 "Ability to get a list of the upcoming tasks"
**Description**
From my unerstanding, there's no way to implement the following with how the scheduler is working now:
Let's say I want to create a page, where I want to display all the upcoming tasks in the next maybe 5 minutes, and would use js for the additional countdown.

Would be nice if there was some way to achieve this.

[2021-04-29 19:29] turtle0x1 opened #363 "Dynamically set timezone"
**Description**
Be able to set timezone either through an environment variable or by passing it as argument.

**Example**
I run crunz in SNAP container where files cant be edited, but users can be around the world so hard coding a timezone into the file is not an option, would it possible to read this variable from the environment or by passing it in?

Editing `vendor/lavary/crunz/src/Task/Timezon

[2021-04-29 19:29] turtle0x1 commented on #363
Whoops duplicate

[2021-04-29 19:29] #363 closed

[2021-04-30 04:55] PabloKowalczyk commented on #362
Hello, it is not supported out-of-the-box but you can try to parse all task CRON expressions. Check https://github.com/lavary/crunz/blob/master/src/Application/Query/TaskInformation/TaskInformationHandler.php for inspirations.

[2021-04-30 04:59] PabloKowalczyk commented on #363
Please see https://github.com/lavary/crunz/issues/328 - you can configure timezone per file. Global configuration needs PHP config files which i started to develop but not yet finished.

[2021-05-25 14:55] PabloKowalczyk commented on #309
Fixed by https://github.com/lavary/crunz/pull/361, thanks @SalvadorCastello.

[2021-05-25 14:55] #309 closed

[2021-05-25 22:23] vmartinez56 commented on #328
@PabloKowalczyk how can I invoice the `timezone` method?

[2021-05-26 04:43] PabloKowalczyk commented on #328
@vmartinez56 you can specify timezone per task:
[code]

[2021-06-17 12:47] adrianbecker013 opened #366 "Execute tasks by using different timezone wise"
We have many users and they are using different timezone and so plan is that, send email to these users by their timezone wise. Is it possible to send email by different timezone?

I have tried below but it is not working

[code]

Could you please correct me what is I am doing wrong in it?

[2021-06-17 13:01] adrianbecker013 opened #367 "Help to execute many tasks in parallel timing"
We need to send email on same time to some of our users.

For example:-
- Send inquiry email on 09:00 o'clock to some of our users and email will be sent on 09:00 o'clock to each users.

Is it possible to send email on same time to some of our users?

[2021-06-17 13:27] PabloKowalczyk commented on #366
IMO this is something that should be in your `email.php` script, this is not Crunz responsibility to determine users timezone, but your script (should) have all knowledge about your users. Maybe run task more often and check timezones in script?

[2021-06-17 13:28] PabloKowalczyk commented on #367
As I wrote in https://github.com/lavary/crunz/issues/366 - it is up to your application :) Just have all sending logic in your script and do a loop.

[2021-06-18 07:22] adrianbecker013 commented on #366
@PabloKowalczyk, thanks for your reply on it.

What is use of below timezone()? and when we should use it?.
[code]
Could you please give insight on it?

[2021-06-18 07:25] adrianbecker013 commented on #367
PabloKowalczyk, thanks for your reply on it.

Is it possible to execute many tasks in same timing  with crunz ?

[2021-06-18 09:17] PabloKowalczyk commented on #367
Yes, it is default behavior to run all task in parallel.

[2021-06-18 09:20] PabloKowalczyk commented on #366
Look at example code:
[code]
Expression `'15 14 * * *'` means "every day at 14:15" and timezone is used to calculate "14:15".

[2021-06-18 11:54] adrianbecker013 commented on #366
I have tested it in locally but it is not working as like above?

[2021-06-18 11:57] adrianbecker013 commented on #366
We are asking user to fill the timezone, start and end datetime base on these information we need to send email.

[2021-06-18 12:09] PabloKowalczyk commented on #366
This is something that will never land in Crunz core, because it is specific to your domain, as I said earlier: move that logic to your script - this is the best place for it.

Do you have any reproducer repo? Everything works for me.

[2021-06-18 12:11] adrianbecker013 commented on #367
We are developing send email scheduler.

So we will ask user to fill the their timezone, start and end datetime for send email scheduling.  Base on these inforamation will send emails.

So many users may be select and set same timezone, start and end datetime for send email scheduling.

We need to send emails on same datetime with timezone for all those users.

How we can handle this case with cru

[2021-06-18 12:14] adrianbecker013 commented on #366
We have seted  timezone "America/Los Angeles" in config.yml file so any idea is it occur this?

[2021-06-18 13:32] PabloKowalczyk commented on #366
Actually, what is not working? What was expected behavior/output?